.autosearch-multi-popover {
  display: flex;
  flex-direction: column;
  height: 640px;
  width: 360px;

  > div {
    overflow: auto;
  }

  .query-btn {
    background: white;
    border-top: 1px solid rgba(0, 0, 0, 0.26);
    bottom: 0;
    height: 56px;
    position: sticky;
  }
}

.autosearch-multi-form-templater {
  > li {
    display: inline-block;
  }
}
