@import './gsc-theme.scss';

$panels-height: 85vh;
$testing: false;

$primary: map-get($gsc-indigo, 800);
$accent: map-get($gsc-teal, 700);
$warn: map-get($mat-red, 700);
$dark: map-get($gsc-indigo, 900);

// (x-component) BREAKPOINTS

$banner-collapse: 425px;
$data-view-collapse: 960px;