@import "../../globals";

.statement-form-wrapper {
  display: flex;
  margin-bottom: 1rem;
  position: relative;
  width: 100%;
  $form-bias: 50%;
  @media (max-width: $breakpoint-lg) {
    flex-direction: column;
    grid-column-end: 2;
  }
  @media (max-width: $breakpoint-mobile) {
    margin-bottom: 0;
  }

  .statement-form-node {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 calc(#{$form-bias} - .5rem);
    flex-direction: column;
    max-height: 100%;
    min-height: 800px;
    @media (max-width: $breakpoint-lg) {
      min-height: 0;
    }

    .statement-preview {
      @include paper;
      word-break: break-word;
    }

    .statement-form-params {
      @include paper;
      flex-grow: 1;
      margin-top: 1rem;
      @media (max-width: $breakpoint-mobile) {
        margin: 0;
      }
    }
  }

  .statement-form-relationships {
    @include paper;
    bottom: 0;
    display: flex;
    flex-direction: column;
    left: calc(#{$form-bias} + 0.5rem);
    overflow: auto;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.3s;
    @media (max-width: $breakpoint-lg) {
      left: unset;
      margin-top: 1rem;
      position: relative;
    }
    @media (max-width: $breakpoint-mobile) {
      box-shadow: none;
      margin: 0;

      > div {
        border-radius: 0;
        box-shadow: none;
      }
    }
  }
}

.statement-form-btns {
  @include paper;
  display: flex;
  flex-direction: row-reverse;
}

#statement-delete-btn {
  margin-right: auto;
}
