.form-templater-group-wrapper{
  width: 100%;
  .form-templater-row-grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.75rem;
    width: 100%;
    box-sizing: border-box;
    @media (max-width: 425px) {
      display: block;
    }
    > *{
      padding: 0;
      display: inline-block !important;
    }

  }
}

.form-templater-autosearch {
  display: flex;
  width: 100%;
}
.form-templater-help-icon{
  margin: auto;
  margin-left: 24px;
}
.radio {
  margin-top: 28px;
}
.form-templater-embedded-selector{
  display: flex;
  flex-grow: 1;
}