.container{
    width: 100%;
}
.card{
    min-width: 180px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    
    button{
        margin:8px;
    }
}

.menu-btn{
    position: absolute;
    left: 8px;
    top: 8px;
    width: 48px;
}
