<div style="overflow:hidden; height: 100%;">
    <svg *ngIf="graph" #svg [attr.width]="_options.width" [attr.height]="_options.height" class="container">
        <g [zoomableOf]="svg">
            <svg:defs>
                <svg:marker id="arrow" markerWidth="25" markerHeight="10" refX="11" refY="2" orient="auto" markerUnits="strokeWidth">
                    <svg:path d="M0,0 L0,4 L6,2 z" fill="#555"></svg:path>
                </svg:marker>

                <svg:marker id="starrow" markerWidth="25" markerHeight="10" refX="-5" refY="2" orient="auto" markerUnits="strokeWidth">
                    <svg:path d="M0,2 L6,4 L 6,0 z" fill="#555"></svg:path>
                </svg:marker>
            </svg:defs>

            <g [linkDisplay]="link" *ngFor="let link of links"></g>
            <g [nodeDisplay]="node" [_subsets]="_subsets" [_nodeLabels]="_nodeLabels" *ngFor="let node of nodes" [selectedNode]="selectedNode"
                [draggableNode]="node" [draggableInGraph]="graph" (click)="onClick(node)"></g>
        </g>
    </svg>

    <button mat-button class="menu-btn" [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <div class="card" (click)="$event.stopPropagation()">
            <h3 class="mat-h3">Graph Options</h3>
            <button (click)="onNodeExpand()">new guy</button>
            
            <mat-form-field>
                <input matInput [(ngModel)]="_force" name="forces" placeholder="Force Strength" (blur)="onForceChange()" (keyup.enter)="onForceChange()">
            </mat-form-field>
            <mat-checkbox [(ngModel)]="_nodeLabels" disableRipple='true'>Node Labels</mat-checkbox>
            <button mat-stroked-button color="accent" (click)="onParentHop()">Parent Hop</button>
            <h4 class="mat-h4">Subset Filter:</h4>
            <mat-checkbox (change)="onSubset(subset)" *ngFor="let subset of subsets">{{subset | subsetPipe}}</mat-checkbox>
        </div>
    </mat-menu>
</div>