.container{
    width: 100%;
}
.card{
    width: fit-content;
    padding: 16px;
    display: flex;
    flex-direction: column;
    max-height: 668px;
    overflow: auto;
    
    button{
        margin:8px;
        flex-shrink: 0;
    }
}
.mat-menu-content{
    width: fit-content;
}

::ng-deep .mat-menu-panel{
    max-width: unset !important;
}

.menu-btn{
    position: absolute;
    left: 8px;
    top: 8px;
    width: 48px;
}
