.container{
    width: 100%;
}
.card{
    position: absolute;
    left: 8px;
    top: 8px;
    padding: 8px;
    padding-bottom: 0;
    width: 180px;
    height: 56px;

    mat-form-field{
        position: absolute;
    }
}
