.record-chip-root {
  box-sizing: border-box;
  > div {
    margin-left: -1px;
  }
}

.record-chip-panel {
  .record-chip-panel-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    padding: 4px;
    > * {
      margin: auto 0;
    }
    > *:last-child {
      text-align: right;
    }
  }
  padding: 16px;
  min-width: 200px;
  max-width: 320px;
}
