
.record-form-dialog {
  &__header {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;

    > {
      display: inline-block;
    }
  }

  .node-form {
    &__content, &__content-subgroup {
      display: block;
    }
  }
}
