@import "../../globals";

.notification-drawer {
  @include paper;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  .form-linear-progress {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  button {
    color: white;
    margin-left: 8px;
  }
}
