@import "../../globals";

.notification-drawer {
  @include paper;
  box-sizing: border-box;
  display: flex;
  width: 100%;

  .form-linear-progress {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
  }

  button {
    color: white;
    margin-left: 8px;
  }
}
