@use '../../globals';

.new-record-view-select {
  display: flex;
  justify-content: center;
  max-width: 100%;
  min-width: globals.$readable-min;
  width: 100%;

  &__select-model {
    max-width: globals.$readable-max;

    @media (min-width: globals.$breakpoint-lg) {
      margin-right: globals.$closed-drawer-width;
    }
  }
}
