@import '../../../globals';


@mixin menu-item-content-mobile {
  margin: 10px 0;
  padding: 4px;
  position: relative;
  right: 15px;
  width: 300px;
}

@mixin menu-item-content {
  margin: 20px 0;
  padding: 5px 10px 5px 0;
  position: relative;
  right: 15px;
  width: 400px;
}
@media only screen and (max-width: $breakpoint-mobile) {
  .popular-search {
    &__menu {
      margin: auto;
      padding-top: 5%;
      width: 300px;

      button {
        width: 300px;
      }
    }

    &__input-field {
      box-sizing: border-box;
      margin: auto;
      padding-top: 5%;
      width: 200px;
    }

    &__menu-item {
      @include menu-item-content-mobile;

      &--selected {
        @include menu-item-content-mobile;
        background-color: $palette__grey--300;
      }

      &:hover {
        background-color: $palette__grey--300;
      }
    }
  }

  .search-input {
    &__label {
      display: flex;
      justify-content: center;
      margin: 20px;
    }

    &__input-field {
      margin: 20px;
    }

    &__action-button {
      display: flex;
      justify-content: center;
    }
  }


}

@media only screen and (min-width: $breakpoint-mobile) {
  .popular-search {
    &__contents {
      display: flex;
      justify-content: center;
    }

    &__menu {
      margin: 0 5%;
      padding-top: 5%;
      width: 400px;

      button {
        width: 400px;
      }
    }

    &__menu-item {
      @include menu-item-content;

      &--selected {
        @include menu-item-content;
        background-color: $palette__grey--300;
      }

      &:hover {
        background-color: $palette__grey--300;
      }
    }

    &__input-field {
      margin: 0 5%;
      padding-top: 10%;
      width: 400px;
    }
  }

  .search-input {
    &__label {
      display: flex;
      justify-content: center;
      margin: 20px;
    }

    &__input-field {
      display: flex;
      justify-content: center;
      margin: 20px;

      .component-outlined {
        width: 300px;
      }
    }

    &__action-button {
      display: flex;
      justify-content: center;
    }
  }
}
