@import "../../globals";

$lightened-secondary: rgba($md-secondary-color, 0.2);
.qbv {
  display: flex;
  @include view-wrapper;
  .qbv-header {
    @include page-header;
    > svg {
      margin-top: auto;
      margin-bottom: auto;
      margin-right: 1rem;
    }
  }
  .qbv-body {
    $line-height: 32px;
    @include paper;
    display: flex;

    .qbv-endpoint {
      display: flex;
    }

    .qbv-json {
      box-sizing: border-box;
      overflow: auto;
      width: 100%;
      margin-top: 1rem;
      position: relative;
    }
  }
  .qbv-action-btns {
    @include paper;
    display: flex;

    #qbv-submit {
      margin-left: auto;
    }
  }
  .qbv-column-flex {
    flex-direction: column;
  }
}

.qbv-swagger-iframe {
  height: 80vh;
  .qbv-help-blurb {
    display: flex;
    padding: 1rem;
    > svg {
      margin: auto;
      margin-right: 0;
    }
  }
  iframe {
    height: 100%;
  }
}
