@import '../../globals';

.qbv {
  display: flex;

  .qbv-header {
    > svg {
      margin-bottom: auto;
      margin-right: 1rem;
      margin-top: auto;
    }
  }

  .qbv-body {
    @include paper;
    $line-height: 32px;
    display: flex;

    .qbv-endpoint {
      display: flex;
    }

    .qbv-json {
      box-sizing: border-box;
      margin-top: 1rem;
      overflow: auto;
      position: relative;
      width: 100%;
    }
  }

  .qbv-action-btns {
    @include paper;
    display: flex;

    #qbv-submit {
      margin-left: auto;
    }
  }

  .qbv-column-flex {
    flex-direction: column;
  }
}

.qbv-swagger-iframe {
  height: 80vh;

  .qbv-help-blurb {
    display: flex;
    padding: 1rem;

    > svg {
      margin: auto;
      margin-right: 0;
    }
  }

  iframe {
    height: 100%;
  }
}
