@import "../../globals";

$lightened-secondary: rgba($md-secondary-color, 0.2);
.qbv {
  display: flex;
  @include view-wrapper;
  .qbv-header {
    @include page-header;
  }
  .qbv-body {
    $line-height: 32px;
    @include paper;
    display: flex;

    .qbv-endpoint {
      display: flex;
      .qbv-complex-checkbox {
        padding: 0 8px;
      }
    }

    .formatted-close-btn {
      position: absolute;
      right: 0;
      top: calc((#{$line-height} - 24px) / 2);
    }

    .qbv-input {
      display: flex;
      position: relative;
      height: $line-height;
      box-sizing: border-box;
      border-radius: 2px;
      margin-left: 1rem;
      &:hover {
        background: $lightened-secondary;
      }
      > div {
        margin: auto 4px;
      }

      .input-key,
      .input-value {
        display: flex;
        input {
          flex-basis: 48px;
          min-width: 48px;
          flex-shrink: 1;
          flex-grow: 1;
        }
      }

      .input-key::after {
        content: ":";
        margin: auto;
      }
      .input-key-nested::after {
        content: "";
      }
    }

    .qbv-nest {
      margin-left: 1rem;
      display: block;
    }

    .qbv-json {
      padding: 16px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 4px;
      box-sizing: border-box;
      font-family: "Courier New", Courier, monospace;
      overflow: auto;
      width: 100%;
      margin-top: 1rem;
      textarea {
        width: 100%;
        box-sizing: border-box;
        min-height: 200px;
      }
      .qbv-json-wrapper {
        position: relative;
        height: $line-height;
        display: flex;
        box-sizing: border-box;
        border-radius: 2px;
        &:hover {
          background: $lightened-secondary;
        }
        > span {
          display: inline-block;
          margin-top: auto;
          margin-bottom: auto;
        }
        .qbv-json-key {
          color: $md-primary-color;
        }
        .qbv-json-value {
          color: $md-secondary-color;
        }
        .qbv-json-close-brace {
          display: block;
        }
      }
    }
  }
  #qbv-submit {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
  }
  .qbv-column-flex {
    flex-direction: column;
  }
}

.qbv-swagger-iframe {
  height: 80vh;
  .qbv-help-blurb {
    display: flex;
    padding: 1rem;
    > svg {
      margin: auto;
      margin-right: 0;
    }
  }
  iframe {
    height: 100%;
  }
}
