@import '../../globals';

.detail-chip {
  &__root {
    > div {
      margin-left: -1px;
    }
  }
}

.detail-popover {

  &__row {
    td:first-child {
      max-width: min-content;
    }

    td:last-child {
      max-width: $readable-max;
    }
  }
}
