@import '../../globals';

.detail-chip {
  &__root {
    > div {
      margin-left: -1px;
    }
  }

  &__avatar {
    height: 32px;
    width: 32px;
  }

  &__outlined &__avatar{
    margin-left: 0;
  }
}

.detail-popover {

  &__row {
    height: 48px;

    td:first-child {
      max-width: min-content;
    }

    td:last-child {
      max-width: $readable-max;
    }
  }

  &__panel-header {
    align-items: flex-end;
    display: flex;

    :last-child:not(:first-child) {
      margin-left: auto;
    }
  }
}
