# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
*.bk

# System Files
.DS_Store
Thumbs.db

*.css
/src/index.css
/jsdoc
/build
/cypress/videos
/cypress/screenshots

# webpack build
/public/*
!/public/index.html
!/public/favicon.ico
!/public/mainfest.json
/stats.json
/dist
