@import "../../globals";
$breakpoint: 1300px;
$relationshipBreakpoint: 1586px;
$mediumBreakpoint: 500px;
.node-form-wrapper {
    overflow: auto;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .form-header {
        grid-column-start: 1;
        grid-column-end: 3;
        @media (max-width: $breakpoint) {
            grid-column-end: 2;
        }        
        display: flex;
        justify-items: center;
        padding: 16px;
        .form-cancel-btn {
            display: flex;
            justify-items: center;
            margin: auto 0 auto auto;
            button {
                margin: auto 0;
            }
        }
        .form-title {
            font-weight: 300;
        }
    }
    .form-grid {
        flex-grow: 1;
        width: calc(80vw + 32px);
        margin: 32px auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
        grid-template-rows: auto 1fr auto;
        @media (max-width: $breakpoint) {
            grid-template-rows: auto auto auto auto;
            grid-template-columns: 1fr;
        }
        .param-section {
            padding: 20px;
            padding-bottom: 40px;
            flex-grow: 1;
            .class-select {
                margin-top: 12px;
            }
        }
        .input-wrapper {
            display: flex;
            width: inherit;
            .text-input {
                flex: 1;
            }
        }
        .relationship-dir-type {
            height: 48px;
            display: flex;
            @media (max-width: $mediumBreakpoint) {
                width: 100%;
            }
        }
        .type-select {
            min-width: 88px;
            text-align: left;
            flex: 1;
        }
        .search-wrap {
            flex-grow: 1;
            display: flex;
            width: 100%;
            .autosearch-wrapper {
                margin-top: 16px;
            }
        }
        .relationship-add-wrapper {
            @media (max-width: $mediumBreakpoint) {
                flex-direction: column;
                width: 100%;
            }
        }
        .form-btns {
            grid-column-start: 1;
            grid-column-end: 3;
            display: flex;
            padding: 16px;
            @media (max-width: $breakpoint) {
                grid-column-end:2;
            }
            button {
                display: flex;
                margin: auto 0;
            }
            #submit-btn {
                margin-left: auto;
            }
            #delete-btn {
                margin-right: auto;
            }
        }
    }
}

.relationship-in {
    transform: rotate(180deg);
    animation: flipr 0.1s linear;
}

.relationship-out {
    animation: flip 0.1s linear;
}

.relationships-list {
    max-height: 900px;
    overflow: auto;
}

.relationship-detail {
    li {
        padding-left: 48px;
    }
}

@keyframes flip {
    from {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(0);
    }
}

@keyframes flipr {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(180deg);
    }
}