$id-width: 3vw;
$sourceId-width: 4.5vw;
$createdBy-width: 3.5vw;
$name-width: 15vw;
$subsets-width: 31.7vw;

.ontology-table-wrapper{
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 90%;
    color: #333;
    flex-wrap: wrap;

    table{
        position: relative;
        border: 1px solid #ddd;
        border-collapse: collapse;
        table-layout: fixed;
    }
    
    td, th {
        white-space: nowrap;
        border: 1px solid #ddd;
        padding: 12px;
        text-align: center;
        overflow: hidden;
    }
    th {
        background-color: #eee;
        position: sticky;
        top: -1px;
        z-index: 2;
        
        &:first-of-type {
          left: 0;
          z-index: 3;
        }
    }
      
    tbody tr td:first-of-type {
        background-color: #eee;
        position: sticky;
        left: -1px;
        display: flex;
        text-align: left;
      }
    
    .mat-row{
        flex-direction: column;
    }
}

.id{
    max-width: $id-width;
    min-width: $id-width;
}
.sourceId{
    max-width: $sourceId-width;
    min-width: $sourceId-width;
}
.createdBy{
    max-width: $createdBy-width;
    min-width: $createdBy-width;
}
.name{
    max-width: $name-width;
    min-width: $name-width;
}
.subsets{
    overflow: hidden;
}