<div *ngIf="_data" class="ontology-table-wrapper">
    <table>
        <thead>
            <tr class="mat-header-row">
                <th class="id">ID</th>
                <th class="sourceId">Source ID</th>
                <th class="createdBy">Created By</th>
                <th class="name">Name</th>
                <th class="subsets">Subsets</th>
                
            </tr>
        </thead>
        <tbody>
            <tr class="mat-row" *ngFor="let row of _data" (click)="onClick($event, row)">
                <td class="id"> {{row['@rid']}} </td>
                <td class="sourceId"> {{row.sourceId}} </td>
                <td class="createdBy"> {{row.createdBy}} </td>
                <td class="name"> {{row.name}} </td>
                <td class="subsets"> {{row.subsets | subsetsPipe}} </td>
            </tr>
        </tbody>
    </table>
    <my-pagination (goPage)="goToPage($event)" (goNext)="onNext()" (goPrev)="onPrev()" [pagesToShow]="7" [page]="page" [perPage]="limit"
        [count]="total">
    </my-pagination>
</div>