@import '../../../globals';
@import '../../../theme';

.civic-evidence-link {
  align-items: center;
  border: 1px solid $palette__grey--A100;
  border-radius: 4px;
  display: flex;
  justify-content: center;

  img {
    margin: 5px;
    max-height: 30px;
  }
}
