<div class="pagination" *ngIf="count > 0">
    <div class="description">
        <span class="page-counts">{{ getMin() }} - {{ getMax() }} of {{ count }}</span>
        <span class="page-totals">{{ totalPages() }} pages</span>
    </div>
    <div class="numbers">
        <button class="link" (click)="onFirst()" [disabled]="page === 1 || loading" [ngClass]="{ 'disabled': page === 1 || loading }">&lt; First</button>
        <button class="link" (click)="onPrev()" [disabled]="page === 1 || loading" [ngClass]="{ 'disabled': page === 1 || loading }">&lt; Previous</button>

        <button *ngFor="let pageNum of getPages()" (click)="onPage(pageNum)" [ngClass]="{'active': pageNum === page, 'disabled': loading}">{{ pageNum }}</button>

        <button class="link" (click)="onNext()" [disabled]="lastPage() || loading" [ngClass]="{ 'disabled': lastPage() || loading }">Next &gt;</button>
        <button class="link" (click)="onLast()" [disabled]="lastPage() || loading" [ngClass]="{ 'disabled': lastPage() || loading }">Last &gt;</button>
    </div>
</div>