@import '../../styles/variables';

.wrapper{
    width: 100%;
    text-align: center;
}

.source-selection{
    display: grid;
    grid-row-gap: 4px;
    align-content: center;
    margin: auto;
    width: 40vw;
    margin-top: 16px;
}

.mat-h1{
    color: $primary;
}