.droptions {
  max-height: 500px;
  overflow: auto;
  z-index: 1600;
}

.dense {
  span {
    font-size: .8125rem;
  }

  p {
    font-size: .75rem;
  }
}

.autosearch-wrapper {
  flex-grow: 1;
  position: relative;
}

.autosearch-popper-node {
  display: flex;
}

#autosearch-spinner {
  display: block;
  margin: auto;
}
