@use '../../globals';

.advanced-search {
  padding: 20px;

  &__class-select {
    margin: globals.$default-spacing globals.$default-spacing;
    margin-top: 2px;

    @media (min-width: globals.$breakpoint-mobile) {
      margin-top: 20px;
    }
  }

  &__filters,
  &__property-filter {
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 40px);

    @media (min-width: globals.$breakpoint-lg) {
      width: calc(100% - 110px);
    }
  }

  &__search, &__add-group {
    display: flex;

    > * {
      margin-left: auto;
    }
  }
}
