@import '../../globals';
@import '../../theme';

@media only screen and (max-width: $breakpoint-mobile){
  .class-select {
    margin: 0 2px;
    margin-top: 2px;
  }

  .add-filter-box {
    border: 1px solid $palette__primary--light;
    border-radius: 15px;
    margin: 2px auto;
    width: 89%;

    h5 {
      position: relative;
      top: 5px;
      margin: 10px;
    }

    &-actions {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &__property {
        width: 40%;
        margin: 0 auto;
      }

      &__value {
        width: 40%;
        margin: 0 auto;
      }

      &__operator {
        width: 20%;
        margin: 0 auto;
      }
    }
  }

  .add-filter-group-box {
    display: flex;
    justify-content: center;

    &__dropdown {
      margin: 20px 0;
      width: 200px;
    }

    .action-button {
      margin-top: 42px;
    }
  }

  .search-btn {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;


    &--disabled {
      opacity: 0;
      z-index: -100;
    }
  }
}

@media only screen and (min-width: $breakpoint-mobile){

  .class-select {
    margin: 0 20px;
    margin-top: 20px;
  }
  .add-filter-box {
    border: 1px solid $palette__primary--light;
    border-radius: 15px;
    margin: 0 75px;
    width: 89%;


    h5 {
      position: relative;
      top: 5px;
      margin: 10px;
    }
    &-actions {
      display: flex;
      justify-content: space-between;

      &__property {
        width: 40%;
      }

      &__value {
        width: 40%;
      }

      &__operator {
        width: 20%;
      }
    }
  }

  .add-filter-group-box {
    display: flex;
    justify-content: center;

    &__dropdown {
      margin: 20px;
      width: 200px;
    }

    .action-button {
      margin-top: 42px;
    }
  }


  .search-btn {

    .action-button {
      float: right;
      margin: 20px 0;
      position: relative;
      right: 60px;
    }

    &--disabled {
      opacity: 0;
      z-index: -100;
    }
  }
}
