@import "../../globals";

.edit-form-wrapper {
  @include view-wrapper;
  .form-header {
    @include page-header;
    .form-cancel-btn {
      display: flex;
      justify-items: center;
      margin: auto 0 auto auto;
      button {
        margin-left: auto;
      }
    }
  }
}
