@import "../../globals";

.node-wrapper {
  height: 100%;
  overflow-y: auto;

  @media (max-width: 60em) {
    height: fit-content;
    overflow: hidden;
  }
}

.list-subheader {
  padding-left: 24px;
  text-align: left;
}
.detail-wrapper {
  top: 0;
  position: sticky;
  z-index: 1;

  @media (max-width: 60em) {
    height: 48px;
  }

  button {
    margin: auto;
  }
}

.edit-btn {
  a {
    margin: auto;
  }
}

.graph-btn {
  button {
    margin: auto;
  }
}

.basic-btn {
  display: none;
  float: left;
  position: fixed;
  left: 48px;
  top: 0;
  @media (max-width: 60em) {
    height: 48px;
    display: unset;
  }

  $size: 40px;
  .btn-wrapper {
    display: inline-block;
    margin: 4px;
    overflow: visible;
    height: $size;
    width: $size;
    background-color: #17214e;
    border-radius: $size;
  }

  .basic {
    color: #fafafa;
  }
  button {
    margin: auto;
    transform: translate(-4px, -4px);
  }
}

.node-properties {
  overflow: auto;
}

.graph-wrapper {
  height: 100%;
  width: 100%;
  .close-btn {
    span {
      font-size: 0.9em;
    }
  }
}

.basic-wrapper {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.drawer-box-graph {
  width: calc(100vw - 1px);
}

.drawer-box-basic {
  width: calc(50vw + 24px);
}

.btn-background {
  background-color: #fafafa;
}

.color-picker {
  height: fit-content;

  .compact-picker {
    float: left;
  }

  .grid-wrapper {
    float: left;
    padding: 8px;

    .button-grid {
      margin: auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-row-gap: 4px;
      grid-column-gap: 4px;

      button {
        padding: 4px;
      }
    }
  }
}
