@import '../../../../globals';

.admin-table {
  & &__content,
  & &__content .ag-header {
    background-color: inherit;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  .ag-theme-material .ag-row:last-of-type {
    border-bottom: none;
  }
}
