@import "../../globals";
$data-view-collapse: 60em;
.data-view {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  background-color: $background-dark;
  display: flex;
  overflow: hidden;
}

.close-drawer-btn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  button {
    margin: 8px;
  }
}

.drawer-box-graph {
  width: calc(100vw - 1px);
}

#progress-spinner {
  margin: auto;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
}

.no-results-msg {
  text-align: center;
  margin: auto;
}
