$data-view-collapse: 60em;

.data-view {
  position: absolute;
  top: 16px;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  background-color: #f4f4f4;
  display: flex;
  height: inherit;
  overflow: hidden;
}

.close-drawer-btn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  button {
    margin: 8px;
  }
}

.drawer-box-graph {
  width: calc(100vw - 1px);
}
