@import "../../globals";
$data-view-collapse: 60em;

.data-view {
  background-color: $background-dark;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}

#progress-spinner {
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 40%;
}

.no-results-msg {
  margin: auto;
  text-align: center;
}
