@import '../../../globals';

.form-field {
  align-items: flex-start;
  display: flex;
  width: 100%;

  & &__content {
    margin-right: 20px;
    width: 100%;
  }

  &--embedded {
    align-items: start;
    display: block;
  }

  .text-field,
  .text-field * {
    width: 100%;
  }

  & &__help {
    margin-left: auto;
  }
}

.filtered-record-autocomplete {
  align-items: flex-start;
  display: flex;

  &__select-search-class {
    margin-right: 20px;
    margin-top: 3px;
    max-width: 15rem;
  }

  .record-autocomplete {
    align-self: flex-start;
  }
}
