@import '../../../../globals';

.permissions-table {
  &__row:nth-child(odd) {
    background: $palette__grey--300;
  }

  &__header {
    background: $palette__background--default;
    border: none;
    position: sticky;
    top: -1px;

    th {
      background: $palette__background--default;
      position: sticky;
      top: -1px;
      z-index: 1;
    }
  }
}
