$position: 60vh;

.main-search{
    width: 40vw;
    vertical-align: middle;
}

.search-wrapper{
    text-align: center;
    margin: auto;
    width: 100vw;
    height: $position;
    line-height: $position;
}

.adv-wrapper{
    text-align: center;
    margin: auto;
    width: 60vw;
    vertical-align: middle;
    
    mat-form-field{
        display: block;
        margin: auto;
        width: 50vw;
    }
    .mat-h3{
        text-align: left;
        width: 10vw;
        display: block;
        margin: 0;
        
    }
    .checkboxes{
        display: grid;
        grid: repeat(3, 50px) / auto-flow 190px;

        .checkbox{
            display: block;
            mat-checkbox{
                float: left;
            }
        }
    }
}


.parameter-selection{
    display: flex;
}

.advanced-button{
    display: block;
    margin: auto;
    text-align: center;
}

a{
    text-decoration: none;
    color:black;    
}