<div class="wrapper">
    <div *ngIf="!_adv" class="search-wrapper">
        <!-- <img class="search-icon" src="../../../assets/logo.png"> -->
        <search-bar matInput="true" (query)="simpleQuery($event)" [placeholder]="'Search a Name'"></search-bar>
        <button (click)="advanced()" color="accent" class="advanced-button" mat-stroked-button>Advanced Search</button>
    </div>

    <!-- //// Advanced Search \\\\\ -->

    <div *ngIf="_adv" class="adv-wrapper" (keyup.enter)="query()">
        <div class="parameter-selection">
            <h3 class="mat-h3">Name: </h3>

            <mat-form-field>
                <input matInput placeholder="Search a name" [(ngModel)]="params.name" name="name">
            </mat-form-field>
        </div>

        <div class="parameter-selection">
            <h3 class="mat-h3">Source: </h3>
            <mat-form-field>
                <input matInput placeholder="Search a source" [(ngModel)]="params.source" name="source">
            </mat-form-field>
        </div>

        <div class="parameter-selection">
            <h3 class="mat-h3">Source ID: </h3>
            <mat-form-field>
                <input matInput placeholder="Search a source ID" [(ngModel)]="params.sourceId" name="sourceId">
            </mat-form-field>
        </div>

        <div class="parameter-selection">
            <h3 class="mat-h3">Source Version: </h3>
            <mat-form-field>
                <input matInput placeholder="Search a source Version" [(ngModel)]="params.sourceVersion" name="sourceId">
            </mat-form-field>
        </div>

        <div class="parameter-selection">
            <h3 class="mat-h3">Long Name: </h3>
            <mat-form-field>
                <input matInput placeholder="Search a Long Name" [(ngModel)]="params.longName" name="longName">
            </mat-form-field>
        </div>

        <div class="parameter-selection">
            <h3 class="mat-h3">Source ID Version: </h3>
            <mat-form-field>
                <input matInput placeholder="Search a source ID Version" [(ngModel)]="params.sourceIdVersion" name="sourceIdVersion">
            </mat-form-field>
        </div>

        <div class="parameter-selection">
            <h3 class="mat-h3">Limit: </h3>
            <mat-form-field>
                <input matInput placeholder="choose a limit" [(ngModel)]="params.limit" name="limit">
            </mat-form-field>
        </div>

        <!-- <input matInput placeholder="what return properties" [(ngModel)]="params.returnProperties"> -->
        <div class="parameter-selection">
            <h3 class="mat-h3">Return Properties: </h3>
            <div class="checkboxes">
                <div class="checkbox" *ngFor="let p of _propKeys">
                    <mat-checkbox [(ngModel)]="properties[p]" disableRipple='true' [name]="properties[p]">{{p | camelCase}}</mat-checkbox>
                </div>
            </div>
        </div>
        <!-- add breakpoint for checkboxes -->
        <div style="margin-top: 16px;"></div>
        <div class="parameter-selection">
            <h3 class="mat-h3">Related Terms: </h3>
            <div class="related-checkboxes">
                <div class="checkbox">
                    <mat-checkbox [(ngModel)]="relatedNodes.parents" disableRipple='true' name="parents">Parents</mat-checkbox>
                </div>
                <div class="checkbox">
                    <mat-checkbox [(ngModel)]="relatedNodes.children" disableRipple='true' name="children">Children</mat-checkbox>
                </div>
                <div class="checkbox">
                    <mat-checkbox [(ngModel)]="relatedNodes.aliases" disableRipple='true' name="aliases">Aliases</mat-checkbox>
                </div>
            </div>
        </div>

        <div class="parameter-selection">
            <h3 class="mat-h3">Fuzzy Match: </h3>
            <mat-form-field>
                <input matInput [(ngModel)]="params.fuzzyMatch" name="fuzzyMatch"> 
            </mat-form-field>
        </div>

        <button mat-stroked-button (click)="advanced()" color="primary">Back</button>
        <button (click)="query()" color="primary" mat-raised-button>Search</button>
    </div>
</div>