<div *ngIf="!adv"class="search-wrapper">
    <input #name (keyup.enter)="search(name.value)" class="main-search" matInput placeholder="Search a name" [(ngModel)]="params.name">
    <button (click)="query()" mat-button>Search</button>
    <button (click)="advanced()" class="advanced-button" mat-button>Advanced Search</button>
</div>
<div *ngIf="adv">
    <input matInput placeholder="Search a name" [(ngModel)]="params.name">
    <input matInput placeholder="Search a source" [(ngModel)]="params.source">
    <input matInput placeholder="Search a source ID" [(ngModel)]="params.sourceId">
    <input matInput placeholder="Search a source Version" [(ngModel)]="params.sourceVersion">
    <input matInput placeholder="Search a lONG name" [(ngModel)]="params.longName">
    <input matInput placeholder="Search a source ID Version" [(ngModel)]="params.sourceIdVersion">
    <input matInput placeholder="choose a limit" [(ngModel)]="params.limit">
    <input matInput placeholder="what return properties" [(ngModel)]="params.returnProperties">
    <!--dropdown-->
    <input matInput placeholder="ancestors?" [(ngModel)]="params.ancestors">
    <input matInput placeholder="descendants?" [(ngModel)]="params.descendants">
    <input matInput placeholder="fuzzy match?" [(ngModel)]="params.fuzzyMatch">
    <button mat-button (click)="advanced()">Back</button>
    <button (click)="query()" mat-button>Search</button>    
</div>