$position: 60vh;

.main-search{
    width: 40vw;
    vertical-align: middle;
}

.search-wrapper{
    text-align: center;
    margin: auto;
    width: 100vw;
    height: $position;
    line-height: $position;
}

.adv-wrapper{
    text-align: center;
    margin: auto;
    margin-bottom: 24px;
    width: 60vw;
    vertical-align: middle;
    
    mat-form-field{
        display: block;
        margin: auto;
        width: 50vw;
    }
    .mat-h3{
        text-align: left;
        width: 10vw;
        display: block;
        margin: auto;
    }
    .checkboxes{

        display: grid;
        grid: repeat(3, 50px) / auto-flow 190px;

        @media (max-width: 1800px){
            grid: repeat(3, 50px) / auto-flow 170px;
        }
        @media(max-width: 1700px){
            grid: repeat(3, 50px) / auto-flow 160px;
        }
        @media(max-width: 1500px){
            grid: repeat(4, 50px) / auto-flow 180px;
        }
        @media(max-width: 1400px){
            grid: repeat(4, 50px) / auto-flow 170px;
        }
        @media(max-width: 1300px){
            grid: repeat(4, 50px) / auto-flow 160px;
        }
        @media(max-width: 1250px){
            grid: repeat(5, 50px) / auto-flow 200px;
        }
        @media(max-width: 1200px){
            grid: repeat(5,50px) / auto-flow 185px;
        }
        @media(max-width: 1150px){
            grid: repeat(5, 50px) / auto-flow 170px;
        }
        @media(max-width: 1050px){
            grid: repeat(5, 50px) / auto-flow 155px;
        }
        @media(max-width: 900px){
            grid: repeat(8, 50px) / auto-flow 215px;
        }
        @media (max-width: 850px){
            grid: repeat(8, 50px) / auto-flow 200px;
        }
        @media(max-width: 800px){
            grid: repeat(8, 50px) / auto-flow 170px;
        }
        @media(max-width: 750px){
            grid: repeat(16, 50px) / auto-flow 300px;
            
        }

        .checkbox{
            display: block;
            mat-checkbox{
                float: left;
            }
        }
    }
}


.parameter-selection{
    display: flex;
}

.advanced-button{
    display: block;
    margin: auto;
    text-align: center;
}

a{
    text-decoration: none;
    color:black;    
}

button{
    margin:8px;
}