@import '../../../../theme';

.code-input-root {
  textarea {
    background: transparent;
    padding: 16px;
    width: 100%;
    box-sizing: border-box;
    min-height: 200px;
    border: 1px solid $palette__grey--A100;
    border-radius: 4px;
    resize: none;
    font-family: 'Roboto Mono', monospace;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    line-height: 150%;
    color: $palette__text--secondary;
    white-space: pre;
  }
  .field-textarea {
    position: absolute;
    left: 0;
    top: 0;
  }
}
