@import '../../../globals';

.stepped-form {
  max-width: $readable-max;
  width: $readable-max;

  @media (min-width: $breakpoint-lg) {
    margin-right: $closed-drawer-width;
  }

  &__actions {
    display: flex;

    &--primary {
      margin-left: auto;
      margin-right: $default-spacing;
      width: fit-content;
    }
  }

  &__step-label {
    .MuiStepLabel-labelContainer {
      text-align: left;
    }
  }
}
