@use '../../../globals';

.stepped-form {
  max-width: globals.$readable-max;
  width: globals.$readable-max;

  @media (min-width: globals.$breakpoint-lg) {
    margin-right: globals.$closed-drawer-width;
  }

  &__actions {
    display: flex;

    &--primary {
      margin-left: auto;
      margin-right: globals.$default-spacing;
      width: fit-content;
    }
  }

  &__step-label {
    .MuiStepLabel-labelContainer {
      text-align: left;
    }
  }
}
