$data-view-collapse: 60em;

.data-view {
  position: absolute;
  top: 16px;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  background-color: #f4f4f4;
  display: flex;
  height: inherit;
  overflow: hidden;
}
