@import '../../theme';

.record-autocomplete {
  flex-grow: 1;
  max-width: 100%;

  // prevent search icon from flipping when menu opens
  .MuiAutocomplete-popupIndicatorOpen {
    transform: none;
  }

  &__group-title {
    // reduce from 48px
    line-height: 24px;
    font-size: x-small;
    text-transform: uppercase;
    background-color: $palette__common--white;
  }

  &__chip {
    margin: 2px 4px;
    max-width: calc(100% - 8px);
  }

  // to match height of other mui textfields
  .MuiInputBase-input {
    min-height: 24px;
  }
}
