@import '../../styles/variables';

@mixin test-border($color: red, $style: solid, $width: 0){
    @if($testing){
        border: 1px $color $style;
        height: calc($panels-height - 2px);
        width: calc($width - 2px);
    }
}

.table-view{
    float: left; 
    width: 60%; 
    height: $panels-height;
    position: fixed; 
    overflow-y: scroll;
    @include test-border(black, $width: 60%);
}

.node-view {
    float:right;     
    width: 25%;
    height: $panels-height;
    display: flex;
    flex-direction: column;
    @include test-border(black, $width: 25%);
}

.data-view{
    width: 80%;
    height: $panels-height;
    margin-left: 10%;
    margin-right: 10%;
    
}

.banner-view{
    width: 100%;
    height: 14%;
    display: block;
    @if($testing){
        height: calc(14% - 2px);
    }
}
