<mat-card class="card">
    <form #editNodeForm="ngForm" (keydown.enter)="$event.preventDefault()">
        <mat-list class="myList">
            <div class="buttons">
                <button mat-mini-fab id="graph-button" (click)="viewInGraph()">
                    <mat-icon>timeline</mat-icon>
                </button>
            </div> 

            <mat-divider></mat-divider>
            <h3 matSubheader>Source</h3>

            <mat-list-item *ngIf="node">{{node.source}}
                <mat-icon matListIcon color="accent" (click)="queryBySource()">search</mat-icon>
            </mat-list-item>

            <mat-divider></mat-divider>

            <h3 matSubheader>Source ID</h3>
            <mat-list-item *ngIf="node">{{node.sourceId | uppercase}}</mat-list-item>

            <mat-divider></mat-divider>

            <h3 matSubheader>Created By</h3>
            <mat-list-item *ngIf="node">{{node.createdBy}}</mat-list-item>

            <mat-divider></mat-divider>

            <h3 matSubheader>RID</h3>
            <mat-list-item *ngIf="node">{{node['@rid']}}</mat-list-item>

            <mat-divider></mat-divider>

            <h3 matSubheader>Name</h3>
            <mat-list-item *ngIf="!_editing && node">{{node.name}}
                <span *ngIf="node.longName">({{node.longName}})</span>
            </mat-list-item>
            <mat-list-item *ngIf="_editing">
                <textarea matInput type="text" id="name" class="edit-box" [(ngModel)]="_temp.name" name="source" placeholder="Name">
                </textarea>
            </mat-list-item>

            <mat-divider></mat-divider>

            <h3 matSubheader>Description</h3>
            <mat-list-item *ngIf="!_editing && node">{{node.description || 'none'}}</mat-list-item>
            <mat-list-item *ngIf="_editing">
                <textarea matInput type="text" id="description" class="edit-box" [(ngModel)]="_temp.description" name="description" placeholder="Description"></textarea>
            </mat-list-item>

            <mat-divider></mat-divider>
            <h3 matSubheader>Aliases</h3>
            <mat-list dense *ngIf="!_editing && node">
                <mat-list-item *ngFor="let alias of node.aliases">{{ontologyMap[alias] ? ontologyMap[alias].name : ''}}
                    <mat-icon color="accent" (click)="search(alias.slice(1))" matListIcon>search</mat-icon>
                </mat-list-item>
            </mat-list>

            <mat-list dense *ngIf="_editing && node">
                <mat-list-item *ngFor="let alias of _temp.aliases">{{ontologyMap[alias] ? ontologyMap[alias].name : ''}}
                    <mat-icon matListIcon color="warn" (click)="deleteTempAlias(alias)">close</mat-icon>
                </mat-list-item>
                <mat-form-field>
                    <input matInput type="text" id="tempAlias" [(ngModel)]="_tempAlias" name="tempAlias" (keyup.enter)="addTempAlias()">
                </mat-form-field>
                <mat-icon matListIcon color="primary" (click)="addTempAlias()">add</mat-icon>
            </mat-list>


            <mat-divider></mat-divider>
            <h3 matSubheader>Children</h3>
            <mat-list dense *ngIf="!_editing && node">
                <mat-list-item *ngFor="let child of node.children">{{ontologyMap[child] ? ontologyMap[child].name : ''}}
                    <mat-icon color="accent" (click)="search(child)" matListIcon>search</mat-icon>
                </mat-list-item>
            </mat-list>
            <mat-list dense *ngIf="_editing && node">
                <mat-list-item *ngFor="let child of _temp.children">{{ontologyMap[child] ? ontologyMap[child].name : ''}}
                    <mat-icon matListIcon color="warn" (click)="deleteTempChild(child)">close</mat-icon>
                </mat-list-item>
                <mat-form-field>
                    <input matInput type="text" id="tempChild" [(ngModel)]="_tempChild" name="tempChild" (keyup.enter)="addTempChild()">
                </mat-form-field>
                <mat-icon matListIcon color="primary" (click)="addTempChild()">add</mat-icon>
            </mat-list>

            <mat-divider></mat-divider>
            <h3 matSubheader>Parents</h3>
            <mat-list dense *ngIf="!_editing && node">
                <mat-list-item *ngFor="let parent of node.parents">{{ontologyMap[parent] ? ontologyMap[parent].name : ''}}
                    <mat-icon color="accent" (click)="search(parent.slice(1))" matListIcon>search</mat-icon>
                </mat-list-item>
            </mat-list>

            <mat-list dense *ngIf="_editing && node">
                <mat-list-item *ngFor="let parent of _temp.parents">{{ontologyMap[parent] ? ontologyMap[parent].name : ''}}
                    <mat-icon matListIcon color="warn" (click)="deleteTempParent(parent)">close</mat-icon>
                </mat-list-item>
                <mat-form-field>
                    <input matInput type="text" id="tempParent" [(ngModel)]="_tempParent" name="tempParent" (keyup.enter)="addTempParent()">
                </mat-form-field>
                <mat-icon matListIcon color="primary" (click)="addTempParent()">add</mat-icon>
            </mat-list>

            <mat-divider></mat-divider>
            <h3 matSubheader>Subsets</h3>
            <mat-list dense *ngIf="!_editing && node">
                <mat-list-item *ngFor="let subset of node.subsets">{{subset | subsetPipe}}
                    <mat-icon matListIcon>folder</mat-icon>
                </mat-list-item>
            </mat-list>

            <mat-list dense *ngIf="_editing && node">
                <mat-list-item *ngFor="let subset of _temp.subsets">{{subset | subsetPipe}}
                    <mat-icon matListIcon color="warn" (click)="deleteTempSubset(subset)">close</mat-icon>
                </mat-list-item>
                <mat-form-field>
                    <input matInput type="text" id="tempSubset" [(ngModel)]="_tempSubset" name="tempSubset" (keyup.enter)="addTempSubset()">
                </mat-form-field>
                <mat-icon matListIcon color="primary" (click)="addTempSubset()">add</mat-icon>
            </mat-list>

            <mat-divider></mat-divider>

            <h3 matSubheader>Version</h3>
            <mat-list-item *ngIf="node">{{node['@version']}}</mat-list-item>

            <mat-divider></mat-divider>

            <h3 matSubheader>Source</h3>
            <mat-list-item *ngIf="node">{{node.source}}</mat-list-item>

            <mat-divider></mat-divider>

        </mat-list>
        <div class="buttons">
            <div *ngIf="!_editing && node">
                <button mat-stroked-button color="primary" (click)="addChild()">Add Child</button>
                <button mat-stroked-button color="primary" (click)="beginEdit()">Edit Properties</button>
                <button mat-raised-button color="warn" (click)="deleteSelected(node)">Delete Node</button>
            </div>

            <div *ngIf="_editing">
                <button mat-button [disabled]="editNodeForm.form.pristine" (click)="applyChanges()">Done</button>
                <button mat-button (click)="cancelEdit()">Cancel</button>
            </div>
        </div>
    </form>
</mat-card>