mat-list{
    flex:1;
    height: auto;
}
mat-divider{
    flex:1;
    height: auto;
    
}
.myList .mat-list-item{
    padding-bottom: 3%;
    height: auto;
    width: inherit;
    font-size: 100%;
}
.label{
    display:block;
}
.card{
    overflow:scroll;
    padding: 12px;
    height: 86vh;
}
.edit-box{
    display: block;
    height: 150px;
    width: 100%;
}
.buttons{
    text-align: center;
}