@import "../../globals";

.embedded-list {
  display: flex;
  width: inherit;

  &__textfield {
    flex: 1;
  }

  &__field {
    flex-wrap: wrap;
  }

  &__input {
    flex-grow: 1;
    width: auto;
  }

  &__chip {
    margin-bottom: 4px;
    margin-right: 2px;

    &--deleted {
      background-color: lighten($md-warn, 25%);

      :focus {
        background-color: lighten($md-warn, 22%);
      }
    }
  }
}
