<div class="data-view" *ngIf="dataMap">
    <mat-tab-group class="group-view">
        <mat-tab label="Table View">
            <table-view [data]="tableData" [initSelected]="selectedNode" (selected)="onSelect($event)"></table-view>
        </mat-tab>
        <mat-tab label="Tree View">tree</mat-tab>
        <mat-tab label="Graph View">graph</mat-tab>
    </mat-tab-group>
    <node-view class="node-view" [node]="selectedNode" (changed)="onEdit($event)" (added)="onAdd($event)" (deleted)="onDelete($event)">
    </node-view>
</div>
<div *ngIf="!dataMap" class="data-view">
    <mat-spinner style="margin:auto; display: block; margin-top: 200px;"></mat-spinner>
</div>
