@import '../../styles/variables';

.wrapper{
    width: 100%;
    height: 100%;
    overflow: auto;
}

.data-view{
    width: 90%;
    max-height: calc($panels-height - 48px);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1vh;
    justify-content: center;
    background-color: #f4f4f4;
    
}

.group-view{
    float: left;
    height: $panels-height;
    width: 65vw;
}

.node-view {
    float:right;     
    width: 25vw;
    height: $panels-height;
    display: flex;
    flex-direction: column;
}

@media (max-width: 960px){
    .wrapper{
        max-width: 960px;
        overflow-y: hidden;
    }
    .data-view{
        display: flex;
        width: calc(624px + 240px);
    }
    .group-view{
        width: 624px;
    }
    .node-view{
        width:240px;
    }
}