<div class="data-view" *ngIf="dataMap" [@.disabled]="disabled">
    <mat-tab-group class="group-view">
        <mat-tab label="Table View">
            <!-- <my-table [data]="tableData" [initSelected]="selectedNode" (selected)="onSelect($event)"></my-table> -->
            <table-view [data]="tableData" [selectedNode]="selectedNode" (selected)="onSelect($event)"></table-view>

        </mat-tab>
        <mat-tab label="Tree View">
            <tree-view [data]="treeData" [selectedNode]="selectedNode" (selected)="onSelect($event, true)"></tree-view>
        </mat-tab>
        <mat-tab label="Graph View">
            <graph-view style="overflow: hidden;" [nodes]="nodes" [links]="links" [selectedNode]="selectedNode" (selected)="onSelect($event)"></graph-view>
        </mat-tab>
    </mat-tab-group>
    <node-view class="node-view" [node]="selectedNode" 
        (changed)="onEdit($event)" 
        (added)="onAdd($event)" 
        (deleted)="onDelete($event)"
        (relationshipped)="onNewRelationship($event)"
        (query)="onQuery($event)">
    </node-view>
</div>
<div *ngIf="!dataMap">
    <mat-spinner style="margin:auto; margin-top: 200px;"></mat-spinner>
</div>