@import '../../styles/variables';

.wrapper{
    width: 100%;
}
::ng-deep .mat-tab-body-wrapper{
    height: 100% !important;
}

.data-view{
    width: 94%;
    min-height: $panels-height;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
    justify-content: center;
    background-color: #f4f4f4;
    display:flex;
}

.group-view{
    float: left;
    height: $panels-height;
    width: 67vw;
}

.node-view {
    margin-left:1px;
    float:right;     
    width: 27vw;
    height: $panels-height;
    display: flex;
    flex-direction: column;
}

@media (max-width: $data-view-collapse){
    .wrapper{
        overflow-y: hidden;
        padding-left: 5vw;
        padding-right: 5vw;
        width: auto;
    }
    .data-view{
        flex-direction: column;
        width: 100%;
    }
    .group-view{ 
        width: 100%;
        
    }
    .node-view{
        margin-top: 7vw;
        width: 100%;
        
    }
}
