<div class="wrapper">
    <div class="data-view" *ngIf="dataMap" [@.disabled]="disabled">
        <section class="mat-elevation-z3">
            <mat-tab-group>
                <mat-tab label="Table View">
                    <table-view [data]="tableData" [updated]="ping" [selectedNode]="selectedNode" (selected)="onSelect($event)"></table-view>
                </mat-tab>
                <mat-tab label="Tree View">
                    <ng-template matTabContent>
                        <tree-view [data]="treeData" [selectedNode]="selectedNode" (selected)="onSelect($event, true)"></tree-view>
                    </ng-template>
                </mat-tab>
                <mat-tab label="Graph View">
                    <ng-template matTabContent>
                        <graph-view style="overflow: hidden;" [updated]="ping" [nodes]="nodes" [links]="links" [selectedNode]="selectedNode" [subsets]="subsets" (selected)="onSelect($event)" (expanded)="onNewGraphNode($event)"></graph-view>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </section>
        <node-view class="node-view" [node]="selectedNode" [ontologyMap]="dataMap" (changed)="onEdit($event)" (added)="onAdd($event)"
            (deleted)="onDelete($event)" (relationshipped)="onNewRelationship($event)" (query)="onQuery($event)">
        </node-view>
    </div>
    <div *ngIf="!dataMap">
        <mat-spinner style="margin:auto; margin-top: 200px;"></mat-spinner>
    </div>
</div>