@import '../../globals';

$user-menu-width: 124px;
$drawer-width: 240px;
$closed-drawer-width: 56px;

.record-form,
.embedded-record-form {
  flex-grow: 1;
  margin-left: auto;
  margin-right: auto;

  position: relative;
}

.record-form {
  &__wrapper {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    max-width: calc(#{$readable-max} + 40px);
    padding: 20px;

    @media (min-width: #{$breakpoint-med}) {
      // allow 2 columns for large dislays
      max-width: calc(#{$readable-max} * 2 + 40px);
    }
  }

  &__content,
  &__content-subgroup {
    @include two-column-grid;

    @media (min-width: #{breakpoint-med}) {
      // allow 2 columns for large dislays
      grid-template-columns: 1fr 1fr;
    }
  }

  &__content--long {
    display: block;
    .quote {
      align-items: center;
      border-left: 2px solid grey;
      margin-bottom: 10px;
      margin-left: 40px;
      margin-top: 10px;
      min-height: 40px;
      padding-left: 10px;

      &__substitution {
        color: $palette__secondary--main;
        font-weight: 600;
        display: inline;
      }
    }
  }

  & &__content-subgroup {
    @include field-set;
    display: grid;
    grid-column: 1 / -1;
    margin: 0;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  &__related-nodes {
    margin-top: 20px;
  }

  &__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .header-action-buttons{
      margin-top: 10px;
      float: right;
      display: flex;
      flex-direction: row;
      margin: 10px;

      button{
        margin: 10px;
      }

    }
  }

  &__action-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

}

.embedded-record-form {
  fieldset {
    @include field-set;
  }

  .record-form__content {
    display: block;
  }
}

.review-dialog{
  height: 100vh;
  min-width: $readable-min;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 40px;

    .title{
      float: left;
    }

    .action-buttons{
      float: right;
    }
  }

  .appbar {
    color: $palette__common--white;
    flex-direction: row;
    float: right;
    height: $banner-height;
    justify-content: center;
    left: 0;
    right: 0;
    transition-duration: $transitions__duration--standard;
    transition-property: left;
    width: auto;
    z-index: calc(#{$drawer-z-index} + 3);

    &--drawer-open {
      left: $drawer-width;
    }

    &__title {
      display: flex;
      margin: auto 16px;
      max-width: 100%;
      overflow: hidden;

      white-space: nowrap;

      * {
        color: $palette__common--white;
        display: inline-block;
      }

      span {
        margin-left: 0.5rem;
      }
    }

    &__btn {
      animation: fade-in(0.2s);
      margin: auto 4px;

      &--drawer-open {
        visibility: hidden;
      }
    }

    &__btn:disabled {
      color: $palette__common--white;
    }

  }

  &__content {
    height: calc(100% - #{$banner-height});
    margin-left: 0;
    margin-top: 50px;
    overflow-y: auto;
    transition-duration: $transitions__duration--standard;
    transition-property: width, margin-left;
    width: 100%;

    &--drawer-open {
      margin-left: $drawer-width;
      width: calc(100% - #{$drawer-width});
    }

    &__action-buttons{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 30px;
    }

  }

  .statement-table {
    margin-top: 20px;

    h6 {
      margin-left: 23px;
    }
  }
}
