@import '../../globals';

.record-form,
.embedded-record-form {
  flex-grow: 1;
  margin-left: auto;
  margin-right: auto;

  position: relative;
}

.record-form {
  &__wrapper {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    max-width: calc(#{$readable-max} + 40px);
    padding: 20px;

    @media (min-width: #{$breakpoint-med}) {
      // allow 2 columns for large dislays
      max-width: calc(#{$readable-max} * 2 + 40px);
    }
  }

  &__content,
  &__content-subgroup {
    @include two-column-grid;
    margin: 0;

    @media (min-width: #{breakpoint-med}) {
      // allow 2 columns for large dislays
      grid-template-columns: 1fr 1fr;
    }
  }

  &__content--long {
    display: block;

    .quote {
      align-items: center;
      border-left: 2px solid grey;
      margin-bottom: 10px;
      margin-left: 40px;
      margin-top: 10px;
      min-height: 40px;
      padding-left: 10px;

      &__substitution {
        color: $palette-secondary--main;
        display: inline;
        font-weight: 600;

      }
    }
  }

  & &__content-subgroup {
    @include field-set;
    display: grid;
    grid-column: 1 / -1;
    margin: 0;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  &__related-nodes {
    margin-top: 20px;
  }

  &__header {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;


    .header-action-buttons {
      display: flex;
      flex-direction: row;
      float: right;
      margin: 10px;
      margin-top: 10px;

      button {
        margin-right: 30px;
      }

    }
  }

  &__action-buttons {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
  }

}

.embedded-record-form {
  fieldset {
    @include field-set;
  }

  .record-form__content {
    display: block;
  }
}

.custom-positionFixed {
  position: static;
}

.review-dialog {

  .appbar {
    color: $palette-common--white;
    display: grid;
    flex-direction: row;
    float: right;
    grid-template-columns: 30% 30% 10%;
    height: $banner-height;
    justify-content: center;
    left: 0;
    right: 0;
    transition-duration: $transitions-duration--standard;
    transition-property: left;
    z-index: calc(#{$drawer-z-index} + 3);

    &__title {
      grid-column-start: 2;
      margin: auto 16px;
      max-width: 100%;
      overflow: hidden;

      white-space: nowrap;

      * {
        color: $palette-common--white;
        display: inline-block;
      }

      span {
        margin-left: 0.5rem;
      }
    }

    &__btn {
      animation: fade-in(0.2s);
      grid-column-start: 9;
      margin: auto 4px;

      &:disabled {
        color: $palette-common--white;
      }
    }


  }

  &__fields {
    border: solid 1px darkgrey;
    border-radius: 3px;
    margin-left: 15%;
    margin-top: 20px;
    padding: 10px;
    width: 70%;

    .statement-review-field {
      margin-left: 32.5%;
      width: 300px;
    }
  }

  &__action-button {
    display: flex;
    justify-content: center;
    margin: 20px auto;

    .button {
      transform: translateX(-10%);
    }
  }

  button {

    &:hover {
      box-shadow: 0 2px 20px rgba(#000, 0.25);
      transform: translateY(-2px);
    }

    &:active {
      transform: translate(0);
    }
  }

  &__content {
    height: calc(100% - #{$banner-height});
    margin-left: 0;
    margin-top: 50px;
    overflow-y: auto;
    transition-duration: $transitions-duration--standard;
    transition-property: width, margin-left;
    width: 100%;


  }

  .statement-table {
    margin: 20px;
  }

  .review-status-button {
    float: right;
    margin: 20px;
    margin-right: 70px;
    width: 300px;
  }
}

.review-icon {
  margin-left: 5px;
}
