<div class="wrapper">
    <form (ngSubmit)="addNode()" #addNodeForm="ngForm" (keydown.enter)="$event.preventDefault()">

    <div class="parameter-selection">
        <!-- <h5 class="mat-h5">Source: </h5> -->
        <mat-form-field>
            <input matInput type="text" id="source"
                required
                [(ngModel)]="payload.source" name="source"
                placeholder="Source">
        </mat-form-field>
    </div>

    <div class="parameter-selection">
        <!-- <h5 class="mat-h5">Source ID: </h5> -->
        <mat-form-field>
            <input matInput type="text" id="sourceId" 
                required
                [(ngModel)]="payload.sourceId" name="sourceId"
                placeholder="Source ID">
        </mat-form-field>
    </div>

    <div class="parameter-selection">
        <!-- <h5 class="mat-h5">Name: </h5> -->
        <mat-form-field>
            <textarea matInput type="text" id="name"
                [(ngModel)]="payload.name" name="name"
                placeholder="Name">
            </textarea>
        </mat-form-field>
    </div>

    <div class="parameter-selection">
        <!-- <h5 class="mat-h5">Long Name: </h5> -->
        <mat-form-field>
            <input matInput type="text" id="longName"
                [(ngModel)]="payload.longName" name="longName"
                placeholder="Long Name">
        </mat-form-field>
    </div>

    <div class="parameter-selection">
        <!-- <h5 class="mat-h5">Description: </h5> -->
        <mat-form-field>
            <textarea matInput type="text" id="description"
                [(ngModel)]="payload.description" name="description"
                placeholder="Description"></textarea>
        </mat-form-field>
    </div>

    <div class="subsets-selection">
        <!-- <h5 class="mat-h5">Subsets: </h5> -->
        <ul name="subsetList">
            <li *ngFor="let subset of subsets" >{{subset}}
                <mat-icon (click)="delete(subset)">close</mat-icon>
            </li>
        </ul>
        <mat-form-field>
            <input matInput type="text" id="subset"
                [(ngModel)]="tempSubset" name="tempSubset"
                placeholder="Add New Subset"
                (keyup.enter)="addSubset()">
        </mat-form-field>

        <mat-icon (click)="addSubset()">add</mat-icon>

    </div>

    <div class="parameter-selection">
        <!-- <h5 class="mat-h5">Source Version: </h5> -->
        <mat-form-field>
            <input matInput type="text" id="sourceVersion"
                [(ngModel)]="payload.sourceVersion" name="sourceVersion"
                placeholder="Source Version">
        </mat-form-field>
    </div>

    <div class="parameter-selection">
        <!-- <h5 class="mat-h5">Source ID Version: </h5> -->
        <mat-form-field>
            <input matInput type="text" id="sourceIdVersion"
                [(ngModel)]="payload.sourceIdVersion" name="sourceIdVersion"
                placeholder="Source ID Version">
        </mat-form-field>
    </div>

    <h3 class="mat-h3">Relationships</h3>
    <div class="subsets-selection">
        <!-- <h5 class="mat-h5">Subsets: </h5> -->
        <ul>
            <li *ngFor="let relationship of relationships">{{relationship | relationshipPipe}}
                <mat-icon (click)="deleteEdge(relationship)">close</mat-icon>
            </li>
        </ul>

        <form (keyup.enter)="addEdge()">
            <mat-form-field>
                <mat-select placeholder="Type" [(value)]="tempEdge.type">
                    <mat-option value="parent">
                        Parent
                    </mat-option>
                    <mat-option value="child">
                        Child
                    </mat-option>
                    <mat-option value="alias">
                        Alias
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Add target ID" name="edgeId" [(ngModel)]="tempEdge.id">
            </mat-form-field>
            <mat-icon (click)="addEdge()">add</mat-icon>
            
        </form >

    </div>

    <button [disabled]="!addNodeForm.form.valid" type="submit"mat-button>Add Node</button>
    <!-- <button mat-button (click)="addNode()">Add Node</button> -->
    
    </form> 
</div>