$testing: false;
$breakpoint: 1300px;

@mixin test-border($color: black, $style: solid){
    @if($testing){
        border: 1px $color $style;
    }
}

.wrapper{
    @include test-border(blue);

    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    
    @media (max-width: $breakpoint){
        grid-template-columns: 1fr;
    }


    .basic-params-selection{
        @include test-border();
        grid-column-start: 1;
        grid-column-end: 2;
        padding: 20px;

        .parameter-selection{
            display: flex;
        
            mat-form-field{
                display: block;
                width: 100%;
            }
            input{
                display: block;
            }
        }
    }

    .subsets-selection{
        @include test-border();
        grid-column-start: 2;
        grid-column-end: 3;
        padding:20px;

        @media (max-width: $breakpoint){
            grid-column-start: 1;
            grid-column-end: end;
        }

        .input-box{
            display: flex;
            width: 100%;

            mat-form-field{
                flex-grow: 1;
            }
            
            button{
                margin-left: 16px;
                margin-top: auto;
                margin-bottom: auto;
            }
        }
    }

    .relationship-selection{
        @include test-border();
        grid-column-start: 3;
        grid-column-end: end;
        padding:20px;

        @media (max-width: $breakpoint){
            grid-column-start: 1;
            grid-column-end: end;
        }

        .input-box {
            flex-grow: 1;
            display: flex;
            width: 100%;
            @media (max-width: 460px){
                flex-direction: column;
            }

            .id-select{
                flex-grow: 1;
            }
        
            button{
                margin-left: 16px;
                margin-top: auto;
                margin-bottom: auto;
                // color:red;
            }
        }
    }

    .submit-button{
        position: fixed;
        width: 200px;
        right: 1%;
        bottom: 1%;
    }
    mat-list{
        overflow: hidden;
    }
}