<form (ngSubmit)="addNode()" #addNodeForm="ngForm" (keydown.enter)="$event.preventDefault()">
    <div class="wrapper">

        <div class="basic-params-selection">
            <h2 color="primary" class="mat-h2">Basic Parameters</h2>
            <div class="parameter-selection">
                <!-- <h5 class="mat-h5">Source: </h5> -->
                <mat-form-field>
                    <input matInput type="text" id="source" required [(ngModel)]="payload.source" name="source" placeholder="Source">
                </mat-form-field>
            </div>

            <div class="parameter-selection">
                <!-- <h5 class="mat-h5">Source ID: </h5> -->
                <mat-form-field>
                    <input matInput type="text" id="sourceId" required [(ngModel)]="payload.sourceId" name="sourceId" placeholder="Source ID">
                </mat-form-field>
            </div>

            <div class="parameter-selection">
                <!-- <h5 class="mat-h5">Name: </h5> -->
                <mat-form-field>
                    <textarea matInput type="text" id="name" [(ngModel)]="payload.name" name="name" placeholder="Name">
            </textarea>
                </mat-form-field>
            </div>

            <div class="parameter-selection">
                <!-- <h5 class="mat-h5">Long Name: </h5> -->
                <mat-form-field>
                    <input matInput type="text" id="longName" [(ngModel)]="payload.longName" name="longName" placeholder="Long Name">
                </mat-form-field>
            </div>

            <div class="parameter-selection">
                <!-- <h5 class="mat-h5">Description: </h5> -->
                <mat-form-field>
                    <textarea matInput type="text" id="description" [(ngModel)]="payload.description" name="description" placeholder="Description"></textarea>
                </mat-form-field>
            </div>

            <div class="parameter-selection">
                <!-- <h5 class="mat-h5">Source Version: </h5> -->
                <mat-form-field>
                    <input matInput type="text" id="sourceVersion" [(ngModel)]="payload.sourceVersion" name="sourceVersion" placeholder="Source Version">
                </mat-form-field>
            </div>

            <div class="parameter-selection">
                <!-- <h5 class="mat-h5">Source ID Version: </h5> -->
                <mat-form-field>
                    <input matInput type="text" id="sourceIdVersion" [(ngModel)]="payload.sourceIdVersion" name="sourceIdVersion" placeholder="Source ID Version">
                </mat-form-field>
            </div>
        </div>

        <div class="subsets-selection">
            <h2 class="mat-h2">Subsets</h2>

            <mat-list name="subsetList">
                <mat-list-item *ngFor="let subset of subsets">
                    <mat-icon style="margin-right: 12px;">folder</mat-icon>
                    {{subset}}
                    <button color="warn" mat-icon-button (click)="delete(subset)">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-list-item>
            </mat-list>

            <form class="input-box" (keyup.enter)="addSubset()">
                <mat-form-field>
                    <input matInput type="text" id="subset" [(ngModel)]="_tempSubset" name="tempSubset" placeholder="Add New Subset">
                </mat-form-field>
                <button mat-icon-button (click)="addSubset()">
                    <mat-icon color="accent">add</mat-icon>
                </button>
            </form>
        </div>

        <div class="relationship-selection">
            <h2 class="mat-h2">Relationships</h2>
            <!-- <h5 class="mat-h5">Subsets: </h5> -->
            <mat-list>
                <mat-list-item *ngFor="let relationship of relationships">{{relationship | relationshipPipe}}
                    <button color="warn" mat-icon-button (click)="deleteEdge(relationship)">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-list-item>
            </mat-list>

            <form class="input-box" (keyup.enter)="addEdge()">
                <mat-form-field>
                    <mat-select placeholder="Type" [(value)]="_tempEdge.type">
                        <mat-option value="parent">
                            Parent
                        </mat-option>
                        <mat-option value="child">
                            Child
                        </mat-option>
                        <mat-option value="alias">
                            Alias
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- TODO: fix... -->
                <div style="display: flex; flex-grow: 1">
                    <mat-form-field class="id-select">
                        <input matInput placeholder="Target name" name="edgeId" [formControl]="searchTerm" [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="loadTerm($event)">
                            <mat-option *ngFor="let item of searchResult" [value]="item">
                                {{item.name}} [{{item.source}}] : {{item['@rid']}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>

                    <button mat-icon-button (click)="addEdge()">
                        <mat-icon color="accent">add</mat-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <button class="submit-button" color="primary" [disabled]="!addNodeForm.form.valid" type="submit" mat-raised-button>
        Add Node
    </button>
</form>