@import "../../../globals";
@import "../../../dataview";

.legend-wrapper {
  height: auto;
  position: absolute;
  top: 16px;
  left: 16px;
  overflow: auto;
  max-height: calc(100vh - 32px - #{$banner-height} - #{$toolbar-height});
  padding: 2px;
  display: grid;
  grid-template-rows: auto;
  grid-row-gap: 8px;
  min-width: 164px;
  .close-btn {
    display: flex;
    flex-direction: row-reverse;
    float: right;
    margin: 8px;
  }
  .legend-content {
    .legend-header {
      display: flex;
      .legend-header-text {
        margin-right: 8px;
      }
      button {
        margin-left: auto;
      }
    }
    padding: 1rem;
    padding-top: 12px;
    white-space: nowrap;
  }
  .node-colors {
    width: 100%;
    li {
      padding-left: 0;
    }
  }
}

@media (max-width: $breakpoint-tablet) {
  .legend-wrapper {
    max-width: unset;
  }
}
