@import "../../globals";

.variant-wrapper {
    margin: 32px auto;
    width: calc(80vw + 32px);
    display: grid;
    grid-template-rows: auto 1fr;
    grid-row-gap: 1rem;
}

.variant-headline {
    height: 37px;
    display: flex;
    h1 {
        font-weight: 300;
    }
    .variant-cancel-btn{
        margin: auto;
        margin-right: 0;
    }
}