@import '../../styles/variables';

$table-size: 1100px;

.wrapper{
    width: 100%;
}
#filter-box{
    position: absolute;
    left: 0; 
    right: -1px;
    top: 0;
    padding: 8px;
    padding-bottom:0;
    width: auto;
    display: block;
    background-color: #fafafa;
    z-index: 100000;
    height: 60px;
}

mat-table{
    min-width: $table-size;
    table-layout: fixed;
}

.mat-elevation-z2{
    min-width: $table-size;

    mat-form-field{
        display: block;
        padding: 16px;
    }
}
.mat-header-row{
    position:sticky;
    background-color: #fafafa;
    top: 0;

}
.mat-row, .mat-header-row{
    min-width: $table-size;
}
.mat-row:hover{
    background-color: rgba(214,219,245,0.7);
    cursor: pointer;
}
.mat-row.active{
    background-color: rgba(214,219,245,0.7);    
}

.mat-column-source{
    flex: 0 0 150px;
}
.mat-column-sourceId{
    flex: 0 0 150px;
}
.mat-column-createdBy{
    flex: 0 0 150px;    
}
.mat-column-rid{
    flex: 0 0 100px;
}
// .mat-column-name{
//     flex: 0 0 240px;    
// }
// .mat-column-subsets{
//     flex: 0 0 380px;
// }

#paginator{
    display:flex;
    justify-content: flex-start;
    position: absolute;
    bottom: 0;
    right:0;
    left:0;
    background-color: #fafafa;
}

.table-wrapper{
    position: absolute;
    bottom: 56px;
    right:0;
    left:0;
    top:68px;
    overflow:auto;
}