<div class="wrapper">
  <mat-form-field id="filter-box" class="mat-elevation-z1">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <div style="height:68px; display: block"></div>
  <section class="mat-elevation-z2">
    <!-- <mat-icon matListIcon color="primary">search</mat-icon> -->
    <section class="table-wrapper">
      <mat-table #table [dataSource]="dataSource" matSort>

        <!-- Class Column -->
        <ng-container matColumnDef="class">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Class</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row['@class']}}</mat-cell>
        </ng-container>

        <!-- Source Column -->
        <ng-container matColumnDef="source">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Source</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.source}}</mat-cell>
        </ng-container>

        <!-- Source ID Column -->
        <ng-container matColumnDef="sourceId">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Source ID</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.sourceId | uppercase}}</mat-cell>
        </ng-container>

        <!-- Created By Column -->
        <ng-container matColumnDef="createdBy">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Created By</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.createdBy}}</mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
          <!--CSS class for each to set width, etc-->
        </ng-container>

        <!-- RID & Version Column -->
        <ng-container matColumnDef="rid">
          <mat-header-cell *matHeaderCellDef mat-sort-header>RID</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row['@rid']}}</mat-cell>
        </ng-container>

        <!-- Subsets Column -->
        <ng-container matColumnDef="subsets">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Subsets</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.subsets | subsetsPipe}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row [class.active]="row == selectedNode" class="mat-row" (click)="onClick(row)" *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </section>

    <section id="paginator" class="mat-elevation-z3">
      <mat-paginator #paginator [length]="dataSource.data.length" [pageIndex]="0" [pageSize]="50" [pageSizeOptions]="[25, 50, 100, 250]">
      </mat-paginator>
      <!-- patch for mat-paginator  -->
    </section>
  </section>
</div>