@import './styles/variables';

.banner{
    width: 100vw;
    height: 14vh;
    display: block;
    background-color: #1F2B65;
    margin-bottom: 1%;    
    @if($testing){
        height: calc(14% - 2px);
    }
}
.link{
    margin: 20px;
    font-family: 'Courier New', Courier, monospace;
    color:aliceblue; 
}