@import './styles/variables';

.mat-elevation-z2{
    min-width: 100vw;
    height: 14vh;
    display: flex;
    background-color: #1F2B65;
    margin-bottom: 1%;    
    @if($testing){
        height: calc(14% - 2px);
    }
}
.link{
    margin: 20px;
    font-family: 'Courier New', Courier, monospace;
    color:aliceblue; 
}
.search-bar{
    display: block;
    width: 15%;
    margin-left: auto;
    margin-right: 1vh;
    max-height: 6vh;
    margin-top: 6vh;
    search-bar{
        max-height: 6vh;    
        padding-left: 16px;
        display: flex;
        justify-content: center;
        margin: auto;
        background-color: #fafafa;
    }
}