@import './styles/variables';

.banner{
    width: 100%;
    height: 14%;
    display: block;
    @if($testing){
        height: calc(14% - 2px);
    }
}
.margin-workaround {
    display: block;
    height: 85%;
    bottom: 15%;
    background-color: #1F2B65;
    position: relative;
}
.link{
    font-family: 'Courier New', Courier, monospace;
    color:aliceblue; 
    position: absolute; 
    bottom: 10%;
    left: 0.35em;
}