.link {
  font-family: 'Roboto';
  color: #303030;
  margin: 8px;
  display: block;
  text-decoration: none; }

.graph-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.toolbar {
  height: calc(100px - 1px);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  display: flex;
  border-bottom: solid #1F2B65 1px; }
  .toolbar .compact-picker {
    float: left;
    margin: auto 4px; }
  .toolbar .grid-wrapper {
    margin: auto 4px; }
    .toolbar .grid-wrapper .button-grid {
      margin: auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-row-gap: 4px;
      grid-column-gap: 4px; }
      .toolbar .grid-wrapper .button-grid button {
        padding: 4px; }
  .toolbar .graph-options-wrapper {
    margin: auto 4px; }
    .toolbar .graph-options-wrapper .graph-options-grid {
      display: grid;
      grid-template-rows: 36px 36px;
      grid-template-columns: 200px 200px;
      grid-row-gap: 4px;
      grid-column-gap: 4px;
      height: 100%; }
      .toolbar .graph-options-wrapper .graph-options-grid .graph-input-wrapper .checkbox-wrapper {
        margin: 3px 0 0 -15px; }
        .toolbar .graph-options-wrapper .graph-options-grid .graph-input-wrapper .checkbox-wrapper .checkbox-label {
          margin-left: -8px;
          font-size: 0.9em; }
        .toolbar .graph-options-wrapper .graph-options-grid .graph-input-wrapper .checkbox-wrapper svg {
          color: #00897b; }
      .toolbar .graph-options-wrapper .graph-options-grid .graph-input-wrapper span {
        margin: 0;
        font-size: 0.7em;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        color: #1F2B65; }
      .toolbar .graph-options-wrapper .graph-options-grid .graph-input-wrapper .graph-input {
        border-radius: 4px;
        border: 1px solid rgba(0, 0, 0, 0.23);
        overflow: hidden; }
        .toolbar .graph-options-wrapper .graph-options-grid .graph-input-wrapper .graph-input input {
          border: none;
          font-family: "Roboto", "Helvetica", "Arial", sans-serif;
          font-size: 0.9em;
          background-color: unset;
          width: 100%; }
        .toolbar .graph-options-wrapper .graph-options-grid .graph-input-wrapper .graph-input input:focus {
          outline: none;
          box-shadow: none; }
        .toolbar .graph-options-wrapper .graph-options-grid .graph-input-wrapper .graph-input input:invalid {
          outline: none;
          box-shadow: none; }

.svg-wrapper {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 0; }
