@import "../../globals";
$relationshipBreakpoint: 1586px;
$mediumBreakpoint: 500px;
.node-form-wrapper {
  .form-grid {
    flex-grow: 1;
    @media (max-width: $breakpoint-mobile) {
      .flexbox > div {
        margin: 0;
        box-shadow: none;
        border-radius: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.26);
      }
    }
    @media (max-width: $breakpoint-lg) {
      grid-template-rows: auto;
      grid-template-columns: 100%;
    }

    .flexbox {
      grid-column-end: 3;
      grid-column-start: 1;
      display: flex;
      position: relative;
      width: 100%;
      margin-bottom: 1rem;
      @media (max-width: $breakpoint-lg) {
        flex-direction: column;
        grid-column-end: 2;
      }
      @media (max-width: $breakpoint-mobile) {
        margin-bottom: 0;
      }
      $form-bias: 50%;
      .param-section {
        flex: 0 0 calc(#{$form-bias} - 0.5rem);
        padding: 20px;
        padding-bottom: 40px;
        max-height: 100%;
        min-height: 750px;
        box-sizing: border-box;
        .class-select {
          margin-top: 12px;
        }
      }
      .forms-lists {
        position: absolute;
        left: calc(#{$form-bias} + 0.5rem);
        top: 0;
        bottom: 0;
        right: 0;
        overflow: auto;
        display: flex;
        flex-direction: column;
        transition: all 0.3s;
        @media (max-width: $breakpoint-lg) {
          position: relative;
          left: unset;
          margin-top: 8px;
        }
        @media (max-width: $breakpoint-mobile) {
          padding: 0;
          > div {
            border-radius: 0;
            box-shadow: none;
          }
        }
        padding: 24px;
        display: flex;
        flex-direction: column;
      }
    }
    .form-btns {
      grid-column-start: 1;
      grid-column-end: 3;
      display: flex;
      padding: 16px;
      @media (max-width: $breakpoint-lg) {
        grid-column-end: 2;
      }
      button {
        display: flex;
        margin: auto 0;
      }
    }
  }
}

.input-wrapper {
  display: flex;
  width: inherit;
  .text-input {
    flex: 1;
  }
}

#submit-btn {
  margin-left: auto;
  flex-shrink: 1;
}

#delete-btn {
  margin-right: auto;
  flex-shrink: 1;
}

#add-btn-cell {
  padding: 0;
  display: flex;
  button {
    margin: auto;
  }
}

#relationship-add {
  background-color: $background-light;
  position: sticky;
  bottom: 0;
  td {
    position: sticky;
    bottom: 0;
    padding-bottom: 24px;
    background-color: $background-light;
    border: none;
    height: 48px;
  }
  .relationship-in {
    transform: rotate(180deg);
  }
}
