@import "../../globals";
$mediumBreakpoint: 500px;
$relationshipBreakpoint: 1586px;

.node-form-wrapper {
  .form-grid {
    flex-grow: 1;
    @media (max-width: $breakpoint-mobile) {
      .flexbox > div {
        border-bottom: 1px solid rgba(0, 0, 0, 0.26);
        border-radius: 0;
        box-shadow: none;
        margin: 0;
      }
    }
    @media (max-width: $breakpoint-lg) {
      grid-template-columns: 100%;
      grid-template-rows: auto;
    }

    .flexbox {
      display: flex;
      grid-column-end: 3;
      grid-column-start: 1;
      margin-bottom: 1rem;
      position: relative;
      width: 100%;
      @media (max-width: $breakpoint-lg) {
        flex-direction: column;
        grid-column-end: 2;
      }
      @media (max-width: $breakpoint-mobile) {
        margin-bottom: 0;
      }
      $form-bias: 50%;

      .param-section {
        box-sizing: border-box;
        flex: 0 0 calc(#{$form-bias} - .5rem);
        max-height: 100%;
        min-height: 750px;
        padding: 20px;
        padding-bottom: 40px;

        .class-select {
          margin-top: 12px;
        }
      }

      .forms-lists {
        bottom: 0;
        display: flex;
        flex-direction: column;
        left: calc(#{$form-bias} + .5rem);
        overflow: auto;
        padding: 24px;
        position: absolute;
        right: 0;
        top: 0;
        transition: all .3s;

        @media (max-width: $breakpoint-lg) {
          left: unset;
          margin-top: 8px;
          position: relative;
        }
        @media (max-width: $breakpoint-mobile) {
          padding: 0;
          > div {
            border-radius: 0;
            box-shadow: none;
          }
        }

      }
    }

    .form-btns {
      display: flex;
      grid-column-end: 3;
      grid-column-start: 1;
      padding: 16px;
      @media (max-width: $breakpoint-lg) {
        grid-column-end: 2;
      }

      button {
        display: flex;
        margin: auto 0;
      }
    }
  }
}

.input-wrapper {
  display: flex;
  width: inherit;

  .text-input {
    flex: 1;
  }
}

#submit-btn {
  flex-shrink: 1;
  margin-left: auto;
}

#delete-btn {
  flex-shrink: 1;
  margin-right: auto;
}

#add-btn-cell {
  display: flex;
  padding: 0;

  button {
    margin: auto;
  }
}

#relationship-add {
  background-color: $background-light;
  bottom: 0;
  position: sticky;

  td {
    background-color: $background-light;
    border: none;
    bottom: 0;
    height: 48px;
    padding-bottom: 24px;
    position: sticky;
  }

  .relationship-in {
    transform: rotate(180deg);
  }
}
