@import '../../globals';

.variant-wrapper {
  @include view-wrapper;

  .variant-headline {
    @include page-header;

    .variant-cancel-btn {
      display: flex;
      margin: auto;
      margin-right: 0;

      button {
        margin-left: auto;
      }
    }
  }
}
