@use '../../../../../../globals';

.notation-parser {
  margin-left: auto;
  margin-right: auto;
  max-width: globals.$readable-max;

  &__input {
    margin-bottom: 20px;
  }

  &__results {
    margin-bottom: 40px;
  }
}
