@import "../../globals";

.feedback-wrapper {
  @include view-wrapper;
  a {
    text-decoration: none;
    color: $md-secondary-color;
  }
  .feedback {
    padding: 16px;
  }

  .feedback-header {
    height: 37px;
    h1 {
      font-weight: 300;
    }
  }
}
