.login-wrapper {
  position: absolute;
  top: 30vh;
  bottom: 0;
  left: 0;
  right: 0;

  .login-form {
    margin: auto;
    width: 50vw;
    display: flex;
    flex-direction: column;

    .login-input {
      margin: 8px;
    }

    button {
      margin: 8px;
    }
    #caption {
      margin: 8px;
    }
  }
}

.unauthorized-modal{
  position: absolute;
  width: 200px;
  height: 200px;
  padding: 8px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto; 
}

#invalid-meessage{
  margin: 8px;
}