@import "../../globals";

.tutorial-wrapper {
  @include view-wrapper;

  .tutorial-header {
    @include page-header;
  }
  .tutorial-body {
    @include paper;
    h4 a {
      color: unset;
    }
    .tutorial-paragraph {
      max-width: 800px;
      margin: auto;
    }
    .tutorial-central-image {
      margin: auto;
      max-width: 100%;
      flex: unset;
    }
    img {
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 2px;
      max-width: 50%;
      flex: 1 0 auto;
    }
  }
}
