@import '../../../../../globals';

.link {
  animation: fade-in();
  cursor: pointer;
  stroke-opacity: 0.3;
  stroke-width: 2.5;
}

.link-label {
  cursor: pointer;
  font-family: $roboto;
  font-size: 14px;
  font-weight: 300;
}

.link-widen {
  cursor: pointer;
  stroke: $palette__common--white;
  stroke-opacity: 0;
  stroke-width: 10;
}
