@import '../../globals';

.iframe-link {
  max-width: $readable-max;
  overflow: hidden;
  position: relative;

  &__loader {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
  }

  &__link {
    display: block;
    overflow: hidden;
    width: 100%;

    iframe {
      height: 400px;
      max-width: 100%;
      pointer-events: none;
    }
  }
}
