@import '../../globals';

.error-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;

  a {
    color: var(--palette__secondary--main);
    text-decoration: none;
  }

  .stacktrace {
    @include code-block;
    max-width: $readable-max;
    min-width: $readable-min;
  }

  h2 {
    color: var(--palette__error--main);
    margin-top: 40px;
  }

  > h2,
  > h3 {
    margin-bottom: 20px;
  }
}

#copy-button {
  margin: 8px auto;
}
