@use '../../globals';

.error-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;

  a {
    color: globals.$palette__secondary--main;
    text-decoration: none;
  }

  h2 {
    color: globals.$palette__error--main;
    margin-top: 40px;
  }

  >h2,
  >h3 {
    margin-bottom: 20px;
    text-align: center;
  }
}

