@use '../../globals';

.letter-icon {
  align-items: center;
  border-radius: 50%;
  display: flex;
  font-family: globals.$roboto;
  font-size: 1rem;
  font-weight: bold;
  height: 50px;
  justify-content: center;
  margin-right: 16px;
  min-width: 50px;
  width: 50px;

  &--primary.letter-icon--contained {
    background-color: globals.$palette__primary--main;
    color: globals.$palette__common--white;
  }

  &--primary.letter-icon--outlined {
    border: 1px solid  globals.$palette__primary--dark;
    color: globals.$palette__primary--dark;
  }

  &--secondary.letter-icon--contained {
    background-color: globals.$palette__secondary--main;
    color: globals.$palette__common--white;
  }

  &--secondary.letter-icon--outlined {
    border: 1px solid  globals.$palette__secondary--dark;
    color: globals.$palette__secondary--dark;
  }
}
