.adv-wrapper {
    margin: 32px auto;
    width: calc(80vw + 32px);
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-row-gap: 1rem;
    .adv-header {
        padding: 16px;
        #adv-title {
            font-weight: 300;
            height: 37px;
        }
    }
    #adv-nav-buttons {
        display: flex;
        justify-content: center;
        padding: 16px;
        button {
            margin: auto 12px;
        }
    }
    .input-wrapper {
        display: flex;
        width: 100%;
        .text-input {
            flex-grow: 1;
        }
    }
    .checkboxes {
        flex-grow: 1;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-row-gap: 4px;
    }
    .related-checkboxes {
        flex-grow: 1;
        margin: auto;
        min-width: 45vw;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-content: center;
    }
    .checkbox {
        display: block;
        text-align: left;
    }
    @media (max-width: 1550px) {
        .checkboxes {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
    @media (max-width: 1172px) {
        .checkboxes {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
    @media (max-width: 720px) {
        .checkboxes {
            grid-template-columns: 1fr;
        }
        .related-checkboxes {
            grid-template-columns: 1fr;
        }
    }
    @media (max-width: 700px) {
        .checkboxes {
            grid-template-columns: 1fr 1fr;
        }
        .related-checkboxes {
            grid-template-columns: 1fr 1fr;
        }
    }
    .link {
        text-decoration: none;
        width: fit-content;
    }
}