@import "../../globals";
.adv-wrapper {
  @include view-wrapper;
  .adv-header {
    @include page-header;
  }
  .adv-grid {
    @include paper;
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
  #adv-nav-buttons {
    @include paper;
    display: flex;
    justify-content: center;
    button {
      margin: auto 12px;
    }
  }
  .input-wrapper {
    display: flex;
    width: 100%;
    .text-input {
      flex-grow: 1;
    }
  }
  .link {
    text-decoration: none;
    width: fit-content;
  }
}
