@import '../../globals';

$user-menu-width: 124px;
$drawer-width: 240px;
$closed-drawer-width: 56px;

.main-view {
  height: 100vh;
  min-width: $readable-min;
  overflow: hidden;  // TODO: det what is causing the height overflow

  .appbar {
    color: white;
    flex-direction: row;
    float: right;
    height: $banner-height;
    justify-content: center;
    left: 0;
    right: 0;
    transition: left #{$drawer-transition-speed};
    width: auto;
    z-index: calc(#{$drawer-z-index} + 3);

    &--drawer-open {
      left: $drawer-width;
    }

    &__title {
      display: flex;
      margin: auto 16px;
      max-width: 100%;
      overflow: hidden;

      white-space: nowrap;

      * {
        color: white;
        display: inline-block;
      }

      span {
        margin-left: .5rem;
      }
    }

    &__btn {
      animation: fade-in(.2s);
      margin: auto 4px;

      &--drawer-open {
        visibility: hidden;
      }
    }

    &__btn:disabled {
      color: white;
    }
  }

  .drawer-logo {
    display: flex;
    overflow: hidden;
    white-space: nowrap;

    button {
      margin: auto;
      margin-left: 8px;
    }
  }

  &__content {
    background-color: rgba(0, 0, 0, 0.03);
    height: calc(100% - #{$banner-height});
    margin-left: $closed-drawer-width;
    margin-top: $banner-height;
    overflow-y: auto;
    transition-duration: $drawer-transition-speed;
    transition-property: width, margin-left;
    width: calc(100% - #{$closed-drawer-width});

    @media (max-width: $drawer-breakpoint) {
      margin-left: 0;
    }

    &--drawer-open {
      margin-left: $drawer-width;
      width: calc(100% - #{$drawer-width});
    }
  }
}

#bcc-logo {
  width: 24px;
  height: 24px;
}

#bcc-label {
  height: 32px;
}

.user-menu {
  width: $user-menu-width;
}

::selection {
  -webkit-text-fill-color: white;
  background: rgba($md-primary-color, .8);
  color: white;
}

.user-dropdown {
  display: flex;
  flex-direction: column;
  float: right;
  height: 100%;
  justify-content: center;
  margin: auto;
  margin-right: 2%;
  min-width: $user-menu-width;

  &__content {
    width: $user-menu-width;
  }

  &__icon {
    color: white;

    svg {
      font-size: 32px;
      margin-right: 4px;
    }

    span aside {
      color: white;
    }
  }
}

.main-nav-drawer {
  //animation: fade-in();
  display: flex;
  flex-direction: column;
  height: 100%;
  transition-duration: $drawer-transition-speed;
  transition-property: width;
  width: $drawer-width;
  z-index: calc(#{$drawer-z-index} + 4);

  @media (max-width: $breakpoint-sm) {
    width: calc(100vw - #{$banner-height});
  }

  &--closed {
    width: $closed-drawer-width;
    z-index: calc(#{$drawer-z-index} + 2);

    @media (max-width: $breakpoint-med) {
      width: 0;
    }
  }

  &__links {
    bottom: $banner-height;
    flex-grow: 1;
    position: relative;
    top: 0;
  }

  &__footer {
    background: $background-light;
    bottom: 0;
    flex-shrink: 0;
    height: 57px;
    left: 0;
    position: sticky;
    right: 0;
    top: auto;

    li {
      box-sizing: border-box;
      height: $banner-height;
      overflow: hidden;
      padding: 12px 16px;
      white-space: nowrap;
    }
  }

  // top bar of the side bar menu when it is open
  &__banner {
    display: flex;
    height: $banner-height;
    overflow: hidden;
    white-space: nowrap;

    button {
      margin: auto;
      margin-left: 8px;
    }
  }
}
