@import "../../globals";
@import "../../dataview";

#detail-drawer {
  .detail-root {
    width: $detail-drawer-width;
    max-width: $detail-drawer-max-width;
    transition: all #{$detail-drawer-transition};
    z-index: $drawer-z-index;
    @media (max-width: 425px) {
      width: $detail-drawer-width-md;
    }
    @media (max-width: 375px) {
      width: 100vw;
      min-width: 320px;
    }
    .detail-content {
      height: calc(100vh - #{$banner-height} - #{$toolbar-height});
      overflow: auto;
      position: absolute;
      top: $banner-height;
      width: 100%;
      .detail-relationships-subheader {
        z-index: 1;
        background: $background-light;
      }
    }
    .detail-identifiers {
      display: grid;
      grid-template-columns: 144px 32px auto;
      .detail-identifiers-nested {
        margin-left: 32px;
      }
      > *:nth-child(even) {
        grid-column-start: 3;
      }
    }
  }
  .detail-closed {
    width: 0;
    @media (max-width: 375px) {
      min-width: 0;
    }
  }
}

.detail-heading {
  padding-top: 20px;
  .detail-edit-btn {
    text-align: center;
    padding: 16px;
  }
  .detail-headline {
    display: flex;
    padding: 0 16px;
    flex-shrink: 0;
    > h1 {
      margin: auto 0;
    }
    > button {
      margin-left: auto;
    }
  }
}

.detail-nested-list {
  .detail-nested-subheader {
    margin-left: 56px;
  }
}
.detail-important,
.detail-other,
.detail-relationships {
  @include paper;
}
