@import "../../globals";
@import "../../dataview";

$breakpoint-sm: 375px;

#detail-drawer {
  .detail-root {
    word-break: break-word;
    width: $detail-drawer-width;
    max-width: $detail-drawer-max-width;
    transition: all #{$detail-drawer-transition};
    z-index: $drawer-z-index;
    @media (max-width: $breakpoint-mobile) {
      width: $detail-drawer-width-md;
      .nested-spacer {
        margin: 0;
      }
    }
    @media (max-width: $breakpoint-sm) {
      width: 100vw;
      min-width: 320px;
    }
    .detail-content {
      height: calc(100vh - #{$banner-height} - #{$toolbar-height});
      overflow: auto;
      position: absolute;
      top: $banner-height;
      width: 100%;
      .detail-relationships-subheader {
        z-index: 1;
        background: $background-light;
      }
    }
    .detail-identifiers {
      display: grid;
      grid-template-columns: 164px 32px auto;
      @media(max-width: $breakpoint-mobile){
        grid-template-columns: 144px 8px auto
      }
      .detail-identifiers-nested {
        margin-left: 32px;
      }
      > *:nth-child(even) {
        grid-column-start: 3;
        margin: auto 0;
      }
    }
  }
  .detail-closed {
    width: 0;
    @media (max-width: $breakpoint-sm) {
      min-width: 0;
    }
  }
}

.detail-heading {
  padding-top: 20px;
  .detail-edit-btn {
    text-align: center;
    padding: 16px;
  }
  .detail-headline {
    display: flex;
    padding: 0 16px;
    flex-shrink: 0;
    > h1 {
      margin: auto 0;
    }
    > button {
      margin: auto;
      margin-right: 0;
    }
  }
}

.detail-nested-list {
  .detail-nested-subheader {
    margin-left: 56px;
    z-index: 0;
    @media (max-width: $breakpoint-mobile) {
      margin-left: 32px;
    }
  }
  hr:last-child {
    display: none;
  }
}
.detail-important,
.detail-other,
.detail-relationships {
  @include paper;
}
