@import "../../globals";

.admin-wrapper {
  @include view-wrapper;
  grid-template-columns: 100%;
}

.admin-headline {
  @include page-header;
}

.admin-section-heading {
  display: flex;
  margin-bottom: 8px;

  h2 {
    flex-shrink: 0;
    margin: auto 0;
  }

  .admin-section-heading-btns {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;

    button {
      margin: auto 8px;
    }
  }
}

#admin-sticky-row {
  background: $background-light;
  border: none;
  position: sticky;
  top: -1px;

  th {
    background: $background-light;
    position: sticky;
    top: -1px;
    z-index: 1;
  }
}

.delete-dialog {
  min-width: 40%;
}

.new-user-dialog {
  min-width: 40%;

  .new-user-dialog-content {
    display: flex;
    flex-direction: row;

    .new-user-form {
      flex: 1 0 50%;
    }

    .new-user-preview {
      @include paper;
      box-sizing: border-box;
      display: flex;
      flex: 1 0 50%;
      flex-direction: column;
      overflow: hidden;

      .preview-name {
        display: flex;
        overflow: hidden;

        h3 {
          margin: auto 8px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      .group-chip {
        margin: 1px;
      }

      table {
        margin-top: 1rem;

        * {
          white-space: nowrap;
        }
        @media (max-width: 375px) {
          * {
            white-space: unset;
          }
        }
      }
    }

    fieldset {
      display: block;
      margin-top: 24px;
    }
  }
  @media (max-width: 720px) {
    min-width: 80%;

    .new-user-dialog-content {
      flex-direction: column;

      .new-user-form {
        display: flex;
        flex-direction: column;

        .new-user-group-checkboxes {
          display: grid;
          grid-template-columns: 1fr 1fr;
        }
      }
    }
  }
}

.new-usergroup-dialog {
  min-width: 50%;
}
