@import "../../../globals";

.expand-links-types {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.expand-links-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 8px;
  .expand-links-link {
    display: inline-flex;
  }
}

@media (max-width: 900px) {
  .expand-links-types {
    grid-template-columns: repeat(2, 1fr);
  }
  .expand-links-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 650px) {
  .expand-links-list {
    grid-template-columns: 1fr;
  }
}
@media (max-width: $breakpoint-mobile) {
  .expansion-root {
    .expansion-dialog {
      margin: 0;
      max-height: 100vh;
      height: 100vh;
      border-radius: 0;
    }

    .expand-links-types {
      grid-template-columns: repeat(1, 1fr);
      > li {
        button {
          margin: auto;
        }
      }
    }
  }
}
