@import '../../../../globals';
@import '../../index.scss';

.detail-drawer {
  max-width: 100%; // use full screen for ipad/mobile
  transition-duration: $transitions__duration--standard;
  transition-property: width;
  width: 100%;
  word-break: break-word;
  z-index: $drawer-z-index;

  @media (min-width: $breakpoint-med) {
    max-width: $secondary-drawer-max-width;
    width: $secondary-drawer-width;
  }

  &--closed {
    width: 0;
  }

  &__heading {
    align-items: center;
    display: flex;
    padding: 20px;
    padding-bottom: 10px;

    :first-child {
      min-width: calc(100% - 144px);
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      h2 {
        overflow-y: hidden;
      }
    }

    &::nth-child(2) {
      margin-left: auto;
    }
  }

  &__content {
    height: calc(100% - #{$banner-height});
    overflow: auto;
    position: absolute;
    top: $banner-height;
    width: 100%;
  }

  &__relationships-subheader {
    background: $palette__background--default;
    z-index: 1;
  }

  &__nested-subheader {
    margin-left: 32px;
    z-index: 0;
    @media (min-width: $breakpoint-sm) {
      margin-left: 56px;
    }
  }

  &__nested-list {
    hr:last-child {
      display: none;
    }
  }

  .detail-identifiers {
    display: grid;
    grid-template-columns: 144px 8px auto;

    @media (min-width: $breakpoint-sm) {
      grid-template-columns: 164px 24px auto;
    }

    .detail-identifiers-nested {
      margin-left: 32px;
    }

    > *:nth-child(even) {
      grid-column-start: 3;
      margin: auto 0;
    }
  }

  .detail-li-text {
    padding: 0;
  }
}

.detail-closed {
  width: 0;
  @media (max-width: $breakpoint-sm) {
    min-width: 0;
  }
}

.nested-spacer {
  width: 1rem;
}

.detail-important,
.detail-other,
.detail-relationships {
  @include paper;
}
