@import "../../../../globals";

.admin-users {
  @include paper;
  max-height: 720px;

  .users-btns {
    display: flex;
    flex-direction: row-reverse;
    margin: 8px 0;

    button {
      margin: 0 8px;
    }
  }

  .admin-badge {
    animation: fade-in(0.1s);
  }
}
