@import '../../globals';
@import '../../theme';

.form-field {
  align-items: flex-start;
  display: flex;
  max-width: 100%;
  padding-top: 0; // override mui list nth child even padding
  width: 100%;

  & &__content {
    width: 100%;
    min-height: 56px;

    @media (min-width: #{$breakpoint-med}) {
      margin-right: 20px;
    }
  }

  &--string,
  &--integer {
    .form-field__content {
      display: flex;
      align-items: flex-end;
    }
  }

  &--embedded {
    display: block;
  }

  .text-field,
  .text-field * {
    width: 100%;
  }

  & &__help {
    margin-left: auto;
  }

  .embedded-record {
    > * {
      width: 100%;
    }

    &__content {
      @include field-set;
      margin: 0;
      padding-bottom: 10px;
      padding-top: 10px;
    }

    &__header {
      margin-bottom: 2px;
    }
  }
}

.filtered-record-autocomplete {
  max-width: 100%;

  &__content {
    max-width: 100%;
    width: 100%;
  }

  .Mui-error {
    margin-top: 0;
  }

  @media (min-width: #{$breakpoint-lg}) {
    align-items: flex-start;
    display: flex;

    &__select-search-class {
      margin-right: 20px;
      max-width: 15rem;
    }

    &__content {
      display: flex;
    }

    .record-autocomplete {
      align-self: flex-start;
      margin-top: 8px; // fixed spacing issues
    }
  }
}

.review-card {
  max-width: 600px;
  min-width: 300px;

  &__header {
    display: flex;
    justify-content: center;
  }

  &__avatar {
    background-color: $palette__secondary--main;
  }

  &__action-button {
    display: flex;
    justify-content: center;
    margin: 10px auto 0;
  }
}
