@import '../../globals';

$five-rows-tall: 352px;

.query-results-table {
  height: fit-content;

  & &__content,
  & &__content .ag-header {
    background-color: inherit;
  }

  &__content {
    height: $five-rows-tall;
    width: 100%;
  }

  &__jump-to-record {
    align-items: center;
    display: flex;
  }
}
