@import '../../globals';

.node {
    cursor: pointer;
    transition: stroke-width 0.1s ease-out,
        fill 0.1s ease-out,
        stroke 0.1s ease-out;

    stroke: $md-secondary-color;
    stroke-width: 0.5;
}
.node-expandable{
    cursor: pointer;
    transition: stroke-width 0.1s ease-out,
        fill 0.1s ease-out,
        stroke 0.1s ease-out;

    stroke: #00FF00;
    stroke-width: 0.7;
}

.node-name {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    text-anchor: middle;
    dominant-baseline: central; //doesn't work on firefox
    font-weight: 300;
    fill: $md-primary-color;
}   
