@import '../../../../globals';
@import '../../dataview';

.graph-wrapper {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.toolbar {
  background: var(--palette__background--default);
  border-top: solid var(--palette__divider) 1px;
  bottom: 0;
  display: flex;
  flex-direction: row-reverse;
  height: calc(#{$toolbar-height} - 1px);
  left: 0;
  margin: auto;
  overflow-x: auto;
  overflow-y: hidden;
  position: absolute;
  right: 0;
  transition: padding 255ms;
  z-index: calc(#{$drawer-z-index} + 1);

  .table-btn {
    background-color: var(--palette__secondary--extra-light);
    margin: auto 24px auto 8px;
  }

  .refresh-wrapper {
    margin: auto 8px;
  }

  > button {
    margin: auto 8px;
  }
}

#options-close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
}

.svg-wrapper {
  bottom: $toolbar-height;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
