@import "../../../../globals";
@import "../../dataview";

.graph-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.toolbar {
  height: calc(#{$toolbar-height} - 1px);
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  display: flex;
  border-top: solid rgba(0, 0, 0, 0.16) 1px;
  overflow-x: auto;
  overflow-y: hidden;
  flex-direction: row-reverse;
  transition: padding 255ms;
  z-index: calc(#{$drawer-z-index} + 1);
  background: $background-dark;
  .table-btn {
    background-color: rgba($md-secondary-light, 0.5);
    margin: auto 24px auto 8px;
  }
  .refresh-wrapper {
    margin: auto 8px;
  }
  > button {
    margin: auto 8px;
  }
}

#options-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
}

.svg-wrapper {
  position: absolute;
  bottom: $toolbar-height;
  left: 0;
  right: 0;
  top: 0;
}
