/**
    variables that match the MUI generated styles

    these must be updated if the theme is altered
    **/
/* MUI palette primary */
$palette__primary--light: #4682b4;
$palette__primary--main: #1b2786;
$palette__primary--dark: #111955;
$palette__primary--contrast-text: #ffffff;
/* MUI palette secondary */
$palette__secondary--light: #a0ebd8;
$palette__secondary--main: #54b198;
$palette__secondary--dark: #1f6552;
$palette__secondary--contrast-text: #ffffff;
/* own extra light version */
$palette__secondary--extra-light: rgba(#a0ebd8, 0.5);

/* MUI text colors (default) */
$palette__text--disabled: rgba(0, 0, 0, 0.38);
$palette__text--hint: rgba(0, 0, 0, 0.38);
$palette__text--primary: rgba(0, 0, 0, 0.7); /* custom */
$palette__text--secondary: rgba(0, 0, 0, 0.54);

/* MUI palette common (default) */
$palette__common--white: #ffffff;
$palette__common--black: #000000;

/* MUI palette background (default) */
$palette__background--default: #fafafa;

/* MUI shadows (default) */
$shadows--level-4: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
  0px 1px 10px 0px rgba(0, 0, 0, 0.12);

/* MUI palette greys (default) */
$palette__grey--300: #e0e0e0;
$palette__grey--A100: #d5d5d5;

/* MUI palette error (default) */
$palette__error--light: #e57373;
$palette__error--main: #f44336;
$palette__error--dark: #d32f2f;
$palette__error--contrast-text: #ffffff;

/* MUI transitions */
$transitions__duration--standard: 0.3s;

/* MUI  palette divider (default) */
$palette__divider: rgba(0, 0, 0, 0.12);

$typography__font-size--body1: 1rem;
$typography__font-size--h1: 1.7rem;
$typography__font-size--h2: 1.5rem;
$typography__font-size--h3: 1.4rem;
$typography__font-size--h4: 1.25rem;
$typography__font-size--h5: 1.1rem;
$typography__font-size--h6: 0.875rem;


// main navbar and menu
$banner-height: 56px;
$default-spacing: 20px;

// login/logout menu
$user-menu-width: 124px;

// left-side-bar
$closed-drawer-width: 56px;
$drawer-breakpoint: 1024px;
$drawer-width: 240px;
$drawer-z-index: 1200;

// right-side-bars
$secondary-drawer-width: 540px;
$secondary-drawer-max-width: calc(100vw - 56px);

// tabs
$tab-bar-height: 48px;

// responsive design breakpoints
$breakpoint-xl: 1400px;
$breakpoint-lg: 1024px;
$breakpoint-med: 768px;
$breakpoint-mobile: 425px;

$breakpoint-sm: $breakpoint-mobile;

$readable-min: 300px;
$readable-max: 700px;

$roboto: -apple-system,
BlinkMacSystemFont,
'Segoe UI',
Roboto,
Oxygen,
Ubuntu,
Cantarell,
'Open Sans',
'Helvetica Neue',
sans-serif;
$code-font: Menlo,
DejaVu Sans Mono,
Liberation Mono,
Consolas,
Ubuntu Mono,
Courier New,
andale mono,
lucida console,
monospace;

$icon-size: 1.5rem;

// use for media query shorthand
@mixin paper {
  padding: 16px;
}

@mixin icon-link {
  color: unset;
  display: flex;
  font-size: 0;
  margin: auto 0;
  padding: 0;
  text-decoration: none;
}

@mixin page-header {
  display: flex;
  flex-direction: row-reverse;
  height: (37px + 16px + 16px);
  justify-items: center;
  padding: 16px;

  h5 {
    font-weight: 300;
    margin: auto 0;
    margin-right: auto;
  }

  @media (max-width: $breakpoint-mobile) {
    display: block;
    height: auto;
  }
}

@function fade-in($duration: 0.6s) {
  @return fade-in #{$duration} ease-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@mixin two-column-grid {
  display: grid;
  grid-gap: $default-spacing;
  grid-template-columns: calc(100% - 20px);
  margin: 10px;
  margin-top: 10px;
  max-width: 100%;

  @media (min-width: $breakpoint-med) {
    grid-template-columns: auto auto;
    max-width: inherit;
  }

  > :nth-child(2n + 1) {
    grid-column: 1 / 1;
  }

  > :nth-child(2n) {
    grid-column: 1 / 1;

    @media (min-width: $breakpoint-med) {
      grid-column: 2 / 2;
    }
  }
}

@mixin field-set {
  border: 1px solid $palette__divider;
  border-radius: 4px;
}

@mixin code-block {
  pre {
    background-color: $palette__background--default;
    overflow-x: scroll;
    padding: 5px;

    code {
      font-family: $code-font;
    }
  }
}

@mixin content-wrapper {
  display: block;
  padding: $default-spacing;
  padding-left: 50px;

  @media (max-width: $breakpoint-sm) {
    padding-left: $default-spacing;
  }

  h1 {
    margin-bottom: $default-spacing;
  }
}
