$md-primary-color: #26328C;
$md-primary-variant: #1F2B65;
$md-secondary-color: #54B198;
$md-secondary-variant: #1F6552;
$md-secondary-light: #CCCFE2;
$md-warn: #d32f2f;
$banner-height: 56px;

.icon-link {
  text-decoration: none;
  font-size: 0;
  margin: auto 0;
  padding: 0;
  color: unset;
  display: flex;
}

