$md-primary-color: #1F2B65;
$md-secondary-color: #00897b;

$panels-height: 85vh;

// BREAKPOINTS

$banner-collapse: 425px;
$data-view-collapse: 960px;


.link{
    font-family: 'Roboto';
  //   color:aliceblue;
    color: #303030;
    margin: 8px;
    display: block;
    text-decoration: none;
}