@import "globals";
$user-menu-width: 124px;
.banner {
    height: $banner-height;
    flex-direction: row !important;
    button {
        margin: auto 0;
        color: white;
    }
    button:disabled {
        color: white;
    }
    .user-dropdown {
        float: right;
        margin: auto;
        margin-right: 2%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: $user-menu-width;
        div {
            margin: auto 0;
        }
        .user-btn {
            color: white;
            svg {
                font-size: 32px;
                margin-right: 4px;
            }
            span aside {
                color: white;
            }
        }
    }
}

.user-menu {
    width: $user-menu-width;
}

.content {
    overflow-y: auto;
    position: absolute;
    top: $banner-height;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
}

.router-outlet {
    position: absolute;
    left: 0;
    right: 0;
    top: 5px;
    bottom: 0;
}