@import "globals";

$user-menu-width: 124px;
$transition-speed: 0.3s;
$drawer-width: 240px;
$closed-drawer-width: 56px;
$drawer-breakpoint: 1024px;
.App {
  .banner {
    height: $banner-height;
    flex-direction: row;
    justify-content: center;
    transition: all #{$transition-speed};
    float: right;
    z-index: calc(#{$drawer-z-index} + 3);
    left: 0;
    right: 0;
    color: white;
    width: auto;
    .appbar-title {
      max-width: 100%;
      margin: auto 16px;
      transition: all 0.5s;
      overflow: hidden;
      white-space: nowrap;
      @media (max-width: $breakpoint-mobile) {
        max-width: 0;
      }
      * {
        color: white;
      }
    }
    .appbar-btn {
      margin: auto 4px;
      animation: fade-in(0.2s);
    }
    .appbar-btn:disabled {
      color: white;
    }
    .user-dropdown {
      float: right;
      margin: auto;
      margin-right: 2%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-width: $user-menu-width;
      div {
        margin: auto 0;
      }
      .user-btn {
        color: white;
        svg {
          font-size: 32px;
          margin-right: 4px;
        }
        span aside {
          color: white;
        }
      }
    }
  }
  .drawer-logo {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    button {
      margin: auto;
      margin-left: 8px;
    }
  }
  .user-menu {
    width: $user-menu-width;
  }
  .content {
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    top: $banner-height;
    left: $closed-drawer-width;
    right: 0;
    margin: auto;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    transition: all #{$transition-speed};
    @media (max-width: $drawer-breakpoint) {
      left: 0;
    }
  }
  .drawer-shift {
    left: $drawer-width;
    overflow: hidden;
    @media (max-width: 500px) {
      left: 0;
    }
  }
  .router-outlet {
    position: absolute;
    left: 0;
    right: 0;
    top: 5px;
    bottom: 0;
  }
  .drawer {
    width: $drawer-width;
    z-index: calc(#{$drawer-z-index} + 4);
    transition: width #{$transition-speed};
    animation: fade-in();
    display: flex;
    flex-direction: column;
    height: 100vh;
    @media (max-width: $breakpoint-mobile) {
      width: calc(100vw - 56px);
    }

    .drawer-links {
      position: relative;
      bottom: 56px;
      top: 0;
      flex-grow: 1;
    }
    .drawer-footer {
      position: sticky;
      background: $background-light;
      bottom: 0;
      left: 0;
      right: 0;
      top: auto;
      flex-shrink: 0;
      height: 57px;
      li {
        height: 56px;
        box-sizing: border-box;
        white-space: nowrap;
        padding: 12px 16px;
        overflow: hidden;
      }
    }
  }
  .drawer-closed {
    width: $closed-drawer-width;
    z-index: calc(#{$drawer-z-index} + 2);
    @media (max-width: $drawer-breakpoint) {
      width: 0;
    }
  }
  .no-drawer {
    left: 0;
  }
}
#bcc-logo {
  width: 24px;
  height: 24px;
}
#bcc-label {
  height: 32px;
}
.user-menu {
  width: $user-menu-width;
}

::selection {
  background: rgba($md-primary-color, 0.8);
  color: white;
}
