@import "globals";

$banner-height: 48px;

.banner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  height: $banner-height;
  display: flex;
  background-color: $md-primary-color;
  flex-direction: row !important;

  button {
    margin: auto 0;
  }
}

.content {
  overflow-y: auto;
  position: absolute;
  top: $banner-height;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0;
}

.router-outlet {
  height: inherit;
}