@import "globals";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-x: hidden;
}
* {
  transition: visibility 0.01s;
}
a {
  text-decoration: none;
  color: $md-secondary-color;
}
