@import 'theme';
@import 'globals';

html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

* {
  transition: visibility 0.01s;
}

a {
  color: $palette__secondary--main;
  text-decoration: none;
  &[disabled] {
    pointer-events: none;
  }
}

.content-wrapper {
  @include content-wrapper;
}
