@import '../../globals';

.search {
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 4px;
  left: 16px;
  max-width: unset;
  min-width: unset;
  padding-bottom: 16px;
  position: relative;
  right: 16px;
  top: 35vh;

  @media (min-width: $breakpoint-sm) {
    left: 0;
    margin: auto;
    max-width: 60vw;
    min-width: 500px;
    right: 0;
  }

  &__bar {
    box-sizing: border-box;
    display: flex;
    padding: 16px;
    width: 100%;
  }

  &__main {
    -webkit-tap-highlight-color: transparent;
    border: none;
    flex-grow: 1;
    outline: none;
    width: 100%;
  }

  &__advanced-button {
    display: block;
    margin: auto;
  }
}
