@import "../../globals";

.search-wrapper {
  min-width: 50vw;
  max-width: 60vw;
  position: absolute;
  left: 0;
  right: 0;
  top: 35vh;
  margin: auto;

  .search-bar {
    width: 100%;
    display: flex;

    .search-box {
      flex-grow: 1;
    }
    button {
      margin: 0 8px;
    }
    .main-search {
      flex-grow: 1;
    }
    
    @media (max-width: 25em) {
      flex-direction: column;
      button {
        margin-top: 8px;
      }
      .main-search {
        width: 100%;
      }
    }
  }

  .advanced-button {
    display: block;
    margin: auto;
    margin-top: 16px;
  }
}

.search-buttons {
  margin: auto;
  display: flex;
}

.query-link {
  text-decoration: none;
  text-decoration-color: white;
  color: white;
}
