@import '../../globals';

.search {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  left: 0;
  margin: auto;
  max-width: 60vw;
  min-width: 500px;
  padding-bottom: 16px;
  position: relative;
  right: 0;
  top: 35vh;

  @media (max-width: $breakpoint-mobile) {
    left: 16px;
    max-width: unset;
    min-width: unset;
    right: 16px;
  }

  &__bar {
    box-sizing: border-box;
    display: flex;
    padding: 16px;
    width: 100%;

    @media (max-width: $breakpoint-mobile) {
      flex-direction: column;
    }
  }

  &__main {
    -webkit-tap-highlight-color: transparent;
    border: none;
    flex-grow: 1;
    outline: none;

    @media (max-width: $breakpoint-mobile) {
      width: 100%;
    }
  }

  &__advanced-button {
    display: block;
    margin: auto;
  }
}
