@import '../../globals';

.about-page {
  height: 100%;
  padding: 0; // move the padding below the tabs

  &__content {
    margin-right: 5%;
    padding: $default-spacing;

    h1,
    h2,
    h3 {
      text-align: center;
      margin-bottom: 20px;
    }
    > * {
      margin-left: auto;
      margin-right: auto;
      max-width: $readable-max;
    }
  }

  .tabs-content {
    max-height: calc(100% - #{$tab-bar-height});
    overflow-y: scroll;
  }

  .tabs-bar {
    box-shadow: $shadows--level-4;
    height: $tab-bar-height;
  }

  .two-column-grid {
    @include two-column-grid;
    margin: 40px 0;
  }

  #about-notation {
    // Fix for non mui components
    color: $palette__text--primary;
    font-family: $roboto;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.00938em;
    line-height: 1.5;

    pre {
      background-color: $palette__background--default;
      padding: 5px;

      code {
        font-family: $code-font;
      }
    }

    h1,
    h2 {
      color: $palette__text--primary;
      font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
      font-weight: 400;
      letter-spacing: 0;
      line-height: 1.33;
    }

    h1 {
      font-size: 1.5rem;
      margin-top: 0;
    }

    h2 {
      font-size: 1.2rem;
    }
  }

  p,
  .about-version-info {
    min-width: $readable-min;
    max-width: $readable-max;
    width: 700px;
  }

  img,
  svg {
    display: block;
    max-width: 100%;
  }

  .pie-chart {
    max-height: calc(100vw - 60px);
    text {
      fill: $palette__common--white;
    }
  }
  @media (max-width: #{$breakpoint-med}) {
    .pie-chart {
      display: none;
    }
  }

  .record-classes-table__content-header {
    position: sticky;
    top: -1px;

    th {
      background: $palette__background--default;
      position: sticky;
      top: -1px;
      z-index: 1;
    }
  }
}

.letter-icon {
  align-items: center;
  background-color: $palette__secondary--main;
  border-radius: 50%;
  color: $palette__common--white;
  display: flex;
  font-family: $roboto;
  font-size: 1rem;
  font-weight: bold;
  height: 50px;
  justify-content: center;
  width: 50px;
}

.terms-section {

  h3{
    font-size: 1.4em;
  }

}
