@import '../../globals';
@import '../../theme';

.about-page {
  height: 100%;
  padding: 0; // move the padding below the tabs

  &__sign-off {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }

  &__content {
    margin-right: 5%;
    padding: $default-spacing;

    h1,
    h2,
    h3,
    h4 {
      margin-bottom: 20px;
      text-align: center;
    }

    >* {
      margin-left: auto;
      margin-right: auto;
      max-width: $readable-max;
    }

    h2:not(:first-child) {
      margin-top: 20px;
    }
  }

  &__loader {
    display: block;
  }

  @media (min-width: #{$breakpoint-med}) {
    &__version-chips {
      display: flex;
      justify-content: center;

      >* {
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }

  &__column-image {
    display: flex;
  }

  &__image-list {
    display: block;
  }

  .tabs-content {
    max-height: calc(100% - #{$tab-bar-height});
    overflow-y: scroll;
  }

  .tabs-bar {
    box-shadow: $shadows--level-4;
    height: $tab-bar-height;
  }

  .two-column-grid {
    @include two-column-grid;
    margin: 40px 0;
  }

  #about-notation {
    // Fix for non mui components
    color: $palette__text--primary;
    font-family: $roboto;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.00938em;
    line-height: 1.5;

    pre {
      background-color: $palette__background--default;
      padding: 5px;

      code {
        font-family: $code-font;
      }
    }

    h1,
    h2 {
      color: $palette__text--primary;
      font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
      font-weight: 400;
      letter-spacing: 0;
      line-height: 1.33;
    }

    h1 {
      font-size: 1.5rem;
      margin-top: 0;
      opacity: 1;
    }

    h2 {
      font-size: 1.2rem;
    }
  }

  p,
  .about-version-info {
    font-size: 0.875rem;
    min-width: $readable-min;
    max-width: $readable-max;
    width: 700px;
  }

  img,
  svg {
    display: block;
    max-width: $readable-max;
  }


  .record-classes-table__content-header {
    position: sticky;
    top: -1px;

    th {
      background: $palette__background--default;
      position: sticky;
      top: -1px;
      z-index: 1;
    }
  }
}

.about-page__content {
  white-space: pre-line;
}

.MuiListItem-gutters {
  &:nth-child(even) {
    padding-top: 0;
  }
}
