.droptions {
    max-height: 200px;
    overflow: auto;
    z-index:10000;
}

.autosearch-wrapper {
    position: relative;
    flex-grow: 1;
}

#autosearch-spinner {
    margin: auto;
    display: block;
}