.droptions {
    width: inherit;
    z-index: 1;
    left: 0;
    right: 0;
    max-height: 384px;
    overflow: auto;
}

.autosearch-wrapper {
    position: relative;
    flex-grow: 1;
    min-height: 64px;
}

#autosearch-spinner {
    margin: auto;
    display: block;
}