@import '../../../../globals';
@import '../../dataview';

$flip-duration: .15s;

.data-table {
  margin: 0 auto;
  overflow: auto;
  width: 100%;

  .table-container {
    bottom: calc(#{$toolbar-height} - 1px);
    left: 0;
    overflow: auto;
    position: absolute;
    right: 0;
    top: 0;
    transition: all #{$detail-drawer-transition};

    table {
      min-width: 540px;
      table-layout: fixed;

      .cell {
        overflow: hidden;
        padding: 4px 24px;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      tr {
        cursor: pointer;
        &:hover {
          background-color: rgba($md-secondary-light, 0.1);
        }
      }

      tr.selected-override {
        background-color: rgba($md-secondary-light, 0.5);
      }
    }

    .table-head {
      tr,
      th {
        background-color: $background-light;
        position: sticky;
        top: 0;
        z-index: 2;

        .filter-btn {
          bottom: 0;
          height: fit-content;
          margin: auto;
          position: absolute;
          right: 0;
          top: 0;
        }
      }

      th:before {
        border-bottom: 1px solid #e0e0e0;
        bottom: 0;
        content: '';
        left: 0;
        position: absolute;
        width: 100%;
      }
    }

    .table-row-checkbox {
      width: calc(96px + 24px);
    }
  }

  .table-drawer-open {
    right: $detail-drawer-width;
    @media (max-width: calc(540px + #{$detail-drawer-width})) {
      right: 0;
    }
  }

  .pag {
    background-color: $background-light;
    border-top: 1px solid #ddd;
    bottom: 0;
    display: flex;
    height: calc(#{$toolbar-height} - 1px);
    left: 0;
    overflow-x: auto;
    overflow-y: hidden;
    position: absolute;
    right: 0;
    z-index: calc(#{$drawer-z-index} + 1);

    .paginator-spacing {
      display: grid !important;
      grid-template-columns: 0 100px 56px 120px 116px;
    }

    .graph-btn {
      margin: auto 0 auto auto;

      button {
        margin-right: 24px;
        transition: all 500ms;
      }

      button:enabled {
        background-color: rgba($md-secondary-light, 0.5);
      }
    }

    .more-results-btn {
      margin: auto 0;
    }
  }
}

#new-data-spinner {
  display: block;
  margin: auto 8px;
}

#filter-popover {
  width: 20rem;

  .filter-wrapper {
    @include paper;
  }

  .filter-exclusions-list {
    max-height: 40vh;
    overflow: auto;
    padding: 0;
  }

  .filter-item-background {
    background-color: $background-light;
  }

  .filter-item-background:hover {
    background-color: #e6e6e6;
  }
}

#select-all-checkbox {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  white-space: nowrap;
  z-index: 1;
}
